body, a {
  color: #222222; }

html, body {
  height: 100%;
  line-height: 1.7em;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f7f1e6; }

.button.button-positive.button-outline {
  border-color: #92bb2c;
  background: transparent;
  color: #92bb2c; }
  .button.button-positive.button-outline:hover {
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

ul {
  list-style-type: none; }

.item-input {
  background-color: #f3e2c4;
  border-color: #f8931d;
  color: #222222; }

#menu {
  margin-left: -200px;
  /* "#menu" width */
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #222222;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

.modal {
  top: 10%;
  bottom: 10%; }

.button.button-modal {
  background-color: #f3e2c4;
  border-color: #f8931d;
  color: #222222; }

.button.button-modal.libarybutton {
  color: white; }

.button.button-review {
  background-color: transparent;
  border-color: transparent;
  color: #9ca2a5; }

.pure-menu-item {
  width: 200px;
  border-bottom: 1px solid #333333;
  height: 47px; }

ol.categories {
  float: left;
  list-style: decimal;
  padding-left: 20px;
  margin-right: 30px;
  line-height: 2em;
  color: #6d6e70; }
  ol.categories:last-child {
    margin-right: 0; }

.l-box {
  padding: 1em; }

.l-box p {
  color: #f7f1e6; }

.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

.is-center {
  width: 115%;
  text-align: center;
  left: -30px;
  position: relative;
  background: #222222;
  color: #f7f1e6; }

.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%; }
.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em; }

.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 88%;
  top: 0;
  position: fixed !important; }

.splash-container-dashboard {
  background: #f7f1e6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 0; }

.pure-button-primary {
  color: #222222;
  background-color: #f7f1e6; }

.pure-button-primary :hover {
  background-color: #f3e2c4; }

.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase; }

.splash-dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

.gamefilter {
  margin-bottom: 15px; }

.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: #f8931d;
  border: 3px solid #f8931d;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-transform: uppercase; }
  .splash-head.library {
    padding: .5em .5em; }

.splash-subhead {
  color: #f8931d;
  letter-spacing: 0.05em;
  opacity: 0.8; }
  .splash-subhead.confidants {
    font-size: .5em; }

.md-subheader {
  background-color: #f7f1e6 !important; }

.iosContent .splash-dashboard {
  width: 100%; }
.iosContent .splash {
  width: 100%; }

.content {
  overflow-x: hidden;
  background: #222222; }

.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 65%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #222222; }

.gameObject {
  border: 1px solid #ddd;
  background: #f7f1e6;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
  min-height: 230px; }

/* This is the class used for the main content headers (<h2>) */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  color: #f8931d;
  background-color: primaryDark; }

/* This is a modifier class used when the content-head is inside a ribbon */
.content-head-ribbon {
  color: #f7f1e6; }

.content-subhead {
  color: #f7f1e6;
  margin: 50px 0 20px 0;
  font-weight: 300; }
  .content-subhead i {
    margin-right: 7px; }

.footer {
  position: fixed;
  color: white;
  bottom: 0px;
  z-index: 500;
  width: 100%;
  background-color: #2d3e50; }

@media (max-width: 979px) {
  .hideMobile {
    display: none; }

  .hideDesktop {
    display: inline-block; }

  .modal {
    width: 84%;
    right: 0%;
    left: 16%;
    z-index: 99999; } }
@media (max-width: 766px) {
  .modal {
    width: 100%;
    right: 0%;
    left: 0%;
    z-index: 99999; } }
@media (min-width: 980px) {
  .hideMobile {
    display: inline; }

  .hideDesktop {
    display: none; } }
.mobileText {
  font-size: .7em; }

.md-dialog-container {
  z-index: 9000; }

.mobileLogoPos {
  position: absolute;
  margin-left: 40%;
  margin-top: 10px; }

.mainBackground {
  background: url("../images/stock2.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 100%;
  height: 65%; }

@media (min-width: 48em) {
  body {
    font-size: 16px; }

  .content {
    padding: 1em; }

  .splash {
    width: 50%;
    height: 50%;
    margin-top: 30px; }

  .splash-head {
    font-size: 200%; }

  .l-box-lrg {
    border: none; } }
@media (min-width: 78em) {
  /* We increase the header font size even more */
  .splash-head {
    font-size: 250%; } }
.modal {
  background-color: #f7f1e6;
  color: #222222; }
  .modal .bar {
    background-color: #222222;
    border-bottom: 1px solid #f8931d; }
    .modal .bar .title {
      color: #f8931d; }

.blockCard {
  display: inline-block; }

.panel {
  float: left;
  width: 275px;
  height: 350px;
  position: relative;
  font-size: .8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }
  .panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    min-width: 275px;
    min-height: 350px;
    border: 2px ridge #f8931d;
    background: url("../images/cardback2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .panel .front .rec {
      width: 275px;
      height: 350px; }
  .panel md-toolbar {
    background-color: #f8931d; }
  .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #f7f1e6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .panel .back.postive {
      background: #92bb2c; }
    .panel .back.negative {
      background: #fb4b0f; }
    .panel .back.unknown {
      background: #f7f1e6; }
    .panel .back.ok {
      background: #fdde09; }
  .panel.flip .front {
    z-index: 8;
    border-color: #eee;
    background: url("../images/cardback2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    height: 188px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  .panel.flip .back {
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }

.mobilePanel {
  background-color: #f7f1e6;
  color: #222222; }
  .mobilePanel.flipable {
    background: url("../images/cardbackMobile.png"); }
  .mobilePanel.flip .front {
    z-index: 8;
    border-color: #f7f1e6;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    display: none;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  .mobilePanel.flip .back {
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }
  .mobilePanel .back {
    float: none;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #f7f1e6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
  .mobilePanel .back {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateX(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    .mobilePanel .back.postive {
      background: #92bb2c; }
    .mobilePanel .back.negative {
      background: #fb4b0f; }
    .mobilePanel .back.unknown {
      background: #f7f1e6; }
    .mobilePanel .back.ok {
      background: #fdde09; }
  .mobilePanel .front {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #f7f1e6;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

.spacer16 {
  width: 16px;
  display: inline; }

.lightblue {
  height: 40px;
  background-color: #2d3e50;
  top: -39px;
  position: relative;
  width: 100%; }

.white-link {
  color: #f8931d; }

.white-text {
  color: #f7f1e6; }

@keyframes shuffleanimation {
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }

  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }

  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }
@-webkit-keyframes shuffleanimation {
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }

  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }

  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }
.shuffle {
  animation-name: shuffleanimation;
  -webkit-animation-name: shuffleanimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.loadingCard {
  position: fixed;
  float: left;
  left: 38%;
  top: 38%; }

.loadingPadding {
  min-height: 400px; }

.gameDes {
  max-height: 300px;
  overflow: scroll; }

.click .front {
  cursor: pointer;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }
.click.flip .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg); }
.click .back {
  cursor: pointer;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }
.click.flip .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }

.contact {
  width: 290px;
  height: 240px; }

.panel .pad {
  padding: 0 15px;
  border-radius: 2px; }
.panel.flip .action {
  display: none; }

.block ol li {
  text-align: left;
  margin: 0 0 0 28px; }
.block .action {
  display: block;
  padding: 3px;
  background: #2d3e50;
  text-align: right;
  font-size: .8em;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  -webkit-transition: opacity .2s linear; }
.block:hover .action {
  opacity: .7; }

.circle div .circleLogo {
  color: #f8931d;
  text-align: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 40%; }
  .circle div .circleLogo.platform {
    width: 95%;
    height: 51px; }

.circleLogo h2 {
  color: white;
  margin-top: 15px; }

.username {
  color: #222222; }

.game_image {
  background-size: 100% 150%;
  background-repeat: no-repeat;
  background-position: center;
  height: 55%; }
  .game_image.mobile {
    border-radius: 0%;
    height: 140px; }

.trucatedName {
  overflow: hidden;
  max-width: 200px;
  white-space: nowrap; }

.KaiadderText {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 1.4em;
  color: white; }

.Kaiadder {
  background-color: #2d3e50; }

.ladder {
  background-color: white; }

.card img {
  max-width: 100px; }

.infoIcon {
  float: right;
  top: -51px;
  margin-right: 18px; }

.postive .game_header {
  background-color: rgba(146, 187, 44, 0.8); }

.negative .game_header {
  background-color: rgba(251, 75, 18, 0.8); }

.ok .game_header {
  background-color: rgba(253, 222, 9, 0.8); }

.game_header, .game_recomendation {
  margin-top: 5px;
  margin-bottom: 5px; }

.game_header {
  position: relative;
  top: -30px;
  font-size: 1.4em; }

.game_recomendation {
  top: -71px;
  position: relative;
  width: 100%;
  overflow-y: hidden;
  height: 38%;
  font-size: 1em; }
  .game_recomendation.tall {
    height: 95%; }
  .game_recomendation.medium {
    height: 50%; }

.game_mobile {
  width: 100%; }

.game_name {
  margin-left: 8px; }
  .game_name.mobile {
    color: #222222;
    font-size: .8em; }

.probuttons {
  font-size: .7em;
  padding: 0px;
  margin: 0px;
  margin-left: 5px; }

.game_recomendation_text {
  margin-top: 20px;
  font-size: 1em; }
  .game_recomendation_text md-list {
    padding: 0px; }
  .game_recomendation_text.mobile {
    margin-top: 0px;
    margin-left: 8px;
    color: #222222; }

.game_mobile {
  border: 1px solid #f8931d;
  margin-bottom: 5px; }
  .game_mobile.postive {
    background: #92bb2c; }
  .game_mobile.negative {
    background: #fb4b0f; }
  .game_mobile.unknown {
    background: #f7f1e6; }
  .game_mobile.ok {
    background: #fdde09; }
  .game_mobile.platforms {
    background: #f7f1e6; }
    .game_mobile.platforms :focus {
      background: #f3e2c4; }
  .game_mobile.gameAdder {
    height: 50px;
    background: #f7f1e6; }
    .game_mobile.gameAdder :focus {
      background: #f3e2c4; }

.newGameAdder {
  margin: 0px 30%;
  color: #222222;
  font-size: 1.8em;
  position: absolute; }

.pure-menu-selected {
  background-color: #f3e2c4;
  color: #222222; }

.item-input {
  padding: 1px 0px 1px 12px; }

.library-header {
  height: 100px;
  font-size: 3em;
  background-color: #2d3e50;
  color: #f7f1e6; }
  .library-header .library-avatar {
    border-radius: 100px;
    margin-left: 1em;
    posistion: absolute;
    right: 10px;
    top: 10px; }

.movedown {
  margin-top: 20px; }

.avatar {
  -moz-border-radius: 100px;
  border-radius: 100px; }

.platFormSmall {
  max-width: 240px;
  max-height: 44px; }
  .platFormSmall.mobile {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px; }

#menu .pure-menu-heading {
  height: 145px;
  background-image: url(../images/logo-dark.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat; }

#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #f7f1e6; }

        /*
        Change color of the anchor links on hover/focus.
*/
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  color: #f8931d; }

.platFormLarge {
  max-width: 240px;
  max-height: 44px; }

.fb_iframe_widget {
  margin-top: 10px;
  margin-left: 10px; }

.adding10left {
  margin-left: 10px; }

.smallText {
  font-size: 70%; }
  .smallText a {
    color: #9ca2a5; }

.modalSelectionArea {
  overflow-y: scroll;
  height: 300px;
  margin-top: 50px; }

.modalAdder {
  min-height: 350px; }

.moveupby10 {
  top: -15px; }

.ribbon {
  background-color: #222222;
  color: #f8931d; }

.logoLarge {
  width: 100px; }

.logo {
  width: 72px;
  height: 72px; }

.smalllogo {
  width: 30px;
  height: 30px; }

.iosMenu {
  position: fixed;
  bottom: 0px;
  background-color: #2d3e50; }
  .iosMenu .pure-menu-item {
    height: 48px; }
    .iosMenu .pure-menu-item i {
      display: block;
      height: 24px;
      margin: -4px; }

.logoText {
  vertical-align: text-top; }

.menu-logo {
  margin-left: 7px; }

.primaryOrange {
  color: #f8931d; }

a {
  color: #f7f1e6; }

a :visited {
  color: #f8931d; }

.platformList {
  width: 116%; }

.addingGameMargin {
  margin-top: 11px;
  position: absolute; }

.noDec {
  text-decoration: none; }

@keyframes steamCardAnimation {
  0% {
    left: 90%; }

  100% {
    left: 10%; } }
@-webkit-keyframes steamCardAnimation {
  0% {
    left: 90%; }

  100% {
    left: 10%; } }
@keyframes rkCardAnimation {
  0% {
    opacity: 0.0; }

  100% {
    opacity: 1.0; } }
@-webkit-keyframes rkCardAnimation {
  0% {
    opacity: 0.0; }

  100% {
    opacity: 1.0; } }
.reallysmall {
  height: 30px; }

.steamCard {
  animation-name: steamCardAnimation;
  -webkit-animation-name: steamCardAnimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1.8s;
  /* Chrome, Safari, Opera */
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  min-width: 100px;
  min-height: 127px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url("../images/steamcardSmall.png"); }

.rkCard {
  animation-name: rkCardAnimation;
  -webkit-animation-name: rkCardAnimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1.8s;
  /* Chrome, Safari, Opera */
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

.circlebutton.activated {
  background-color: #f8931d;
  border-color: #f8931d;
  color: white; }

.circlebutton {
  border-radius: 40px;
  border-color: #f8931d;
  background-color: transparent;
  border-width: 2px;
  color: white; }

.circleselected {
  border-color: #f8931d;
  background-color: #f8931d;
  border-width: 2px;
  color: white; }

.userImageInLibrary {
  width: 73px;
  height: 73px;
  float: left; }

.userLibaryImage {
  width: inherit;
  height: inherit; }

.dropzone.ng-hide-remove.ng-hide-remove-active, .userLibaryImage.ng-hide-remove.ng-hide-remove-active, .userHeaderName.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation: zoomInDown .5s;
  -moz-animation: zoomInDown .5s;
  -ms-animation: zoomInDown .5s;
  animation: zoomInDown .5s; }
.dropzone.ng-hide-add.ng-hide-add-active, .userLibaryImage.ng-hide-add.ng-hide-add-active, .userHeaderName.ng-hide-add.ng-hide-add-active {
  -webkit-animation: zoomOutUp .5s;
  -moz-animation: zoomOutUp .5s;
  -ms-animation: zoomOutUp .5s;
  animation: zoomOutUp .5s;
  position: absolute; }
.dropzone.ng-enter-stagger, .userLibaryImage.ng-enter-stagger, .userHeaderName.ng-enter-stagger {
  transition-delay: 0.1s;
  transition-duration: 0s; }

md-select {
  padding: 0;
  background-color: #f7f1e6;
  color: #f8931d; }
  md-select .md-select-label.md-placeholder {
    color: #f8931d; }

md-content {
  background-color: #f7f1e6 !important; }

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }

  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }

  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }

  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }

  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }
@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }

  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }

  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }

  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }
@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }

  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }

  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }
.dropzone, .dropzone * {
  box-sizing: border-box; }

.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px; }

.dropzone.dz-clickable {
  cursor: pointer; }

.dropzone.dz-clickable * {
  cursor: default; }

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer; }

.dropzone.dz-started .dz-message {
  display: none; }

.dropzone.dz-drag-hover {
  border-style: solid; }

.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5; }

.dropzone .dz-message {
  text-align: center;
  margin: 2em 0; }

.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px; }

.dropzone .dz-preview:hover {
  z-index: 1000; }

.dropzone .dz-preview:hover .dz-details {
  opacity: 1; }

.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eeeeee, #dddddd); }

.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1; }

.dropzone .dz-preview.dz-image-preview {
  background: white; }

.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none; }

.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline; }

.dropzone .dz-preview:hover .dz-details {
  opacity: 1; }

.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%; }

.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px; }

.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap; }

.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8); }

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis; }

.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent; }

.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px; }

.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px); }

.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10; }

.dropzone .dz-preview .dz-image img {
  display: block; }

.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }

.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px; }

.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px; }

.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in; }

.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite; }

.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden; }

.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666666, #444444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out; }

.dropzone .dz-preview.dz-error .dz-error-message {
  display: block; }

.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto; }

.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white; }

.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626; }
