/* line 7, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
html, body {
  height: 100%;
  line-height: 1.7em;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #1f8dd6; }

/* line 17, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-positive.button-outline {
  border-color: #8cc63f;
  background: transparent;
  color: #8cc63f; }
  /* line 21, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .button.button-positive.button-outline:hover {
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

/* line 32, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modal {
  top: 10%;
  bottom: 10%; }

/* line 38, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
ol.categories {
  float: left;
  list-style: decimal;
  padding-left: 20px;
  margin-right: 30px;
  line-height: 2em;
  color: #6d6e70; }
  /* line 45, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  ol.categories:last-child {
    margin-right: 0; }

/* line 53, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.l-box {
  padding: 1em; }

/* line 57, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/* line 61, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.is-center {
  width: 115%;
  text-align: center;
  left: -30px;
  position: relative;
  background: #111; }

/* line 70, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%; }
/* line 75, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em; }

/* line 84, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 88%;
  top: 0;
  position: fixed !important; }

/* line 98, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-container-dashboard {
  background: #1f8dd6;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 0; }

/* line 106, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase; }

/* line 115, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

/* line 121, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gamefilter {
  margin-bottom: 15px; }

/* line 124, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: white;
  border: 3px solid white;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-transform: uppercase; }

/* line 135, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-subhead {
  color: white;
  letter-spacing: 0.05em;
  opacity: 0.8; }

/* line 141, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosContent .splash-dashboard {
  width: 100%; }
/* line 145, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosContent .splash {
  width: 100%; }

/* line 150, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content {
  overflow-x: hidden;
  background: #f7f7f7; }

/* line 154, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 65%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #f7f7f7; }

/* line 164, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gameObject {
  border: 1px solid #ddd;
  background: #f7f7f7;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
  min-height: 230px; }

/* This is the class used for the main content headers (<h2>) */
/* line 172, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  color: white; }

/* This is a modifier class used when the content-head is inside a ribbon */
/* line 181, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-head-ribbon {
  color: white; }

/* line 184, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-subhead {
  color: #1f8dd6; }
  /* line 186, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .content-subhead i {
    margin-right: 7px; }

/* line 191, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.footer {
  position: absolute;
  color: white;
  bottom: 0px;
  z-index: 500;
  width: 100%;
  background-color: #2d3e50; }

@media (max-width: 979px) {
  /* line 200, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideMobile {
    display: none; }
  /* line 203, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideDesktop {
    display: inline-block; } }

@media (min-width: 980px) {
  /* line 209, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideMobile {
    display: inline-block; }
  /* line 212, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideDesktop {
    display: none; } }

/* line 217, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mainBackground {
  background: url('../images/stock2.png') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 100%;
  height: 85%; }

@media (min-width: 48em) {
  /* line 227, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  body {
    font-size: 16px; }
  /* line 230, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .content {
    padding: 1em; }
  /* line 233, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash {
    width: 50%;
    height: 50%;
    margin-top: 30px; }
  /* line 239, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-head {
    font-size: 200%; }
  /* line 243, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .l-box-lrg {
    border: none; } }

@media (min-width: 78em) {
  /* We increase the header font size even more */
  /* line 250, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-head {
    font-size: 250%; } }

/* line 255, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel {
  float: left;
  width: 275px;
  height: 350px;
  position: relative;
  font-size: .8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }
  /* line 264, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    min-width: 275px;
    min-height: 350px;
    border: 2px ridge gold;
    background: url('../images/cardback.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    /* line 296, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .front .rec {
      width: 275px;
      height: 350px; }
  /* line 302, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel.flip .front {
    z-index: 900;
    border-color: #eee;
    background: url('../images/cardback.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 314, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel.flip .back {
    z-index: 1000;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }
  /* line 322, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #ccc;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    /* line 349, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.postive {
      background: #66cc33; }
    /* line 352, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.negative {
      background: red; }
    /* line 355, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.unknown {
      background: white; }
    /* line 358, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.ok {
      background: yellow; }

/* line 363, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.lightblue {
  height: 40px;
  background-color: #265778;
  top: -39px;
  position: relative;
  width: 100%; }

/* line 370, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.white-link {
  color: white; }

@keyframes shuffleanimation {
  /* line 375, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }

  /* line 376, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }

  /* line 377, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }

@-webkit-keyframes shuffleanimation {
  /* line 381, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }

  /* line 382, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }

  /* line 383, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }

/* line 385, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.shuffle {
  animation-name: shuffleanimation;
  -webkit-animation-name: shuffleanimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 393, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.loadingCard {
  position: absolute;
  float: left;
  left: 38%;
  top: 38%; }

/* line 399, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.loadingPadding {
  min-height: 400px; }

/* line 403, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gameDes {
  max-height: 300px;
  overflow: scroll; }

/* line 409, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click .front {
  cursor: pointer;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }
/* line 415, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click.flip .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg); }
/* line 420, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click .back {
  cursor: pointer;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }
/* line 426, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click.flip .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/* line 432, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.contact {
  width: 290px;
  height: 240px; }

/* line 437, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel .pad {
  padding: 0 15px; }
/* line 440, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel.flip .action {
  display: none; }

/* line 445, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block ol li {
  text-align: left;
  margin: 0 0 0 28px; }
/* line 446, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block .action {
  display: block;
  padding: 3px;
  background: #333;
  text-align: right;
  font-size: .8em;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  -webkit-transition: opacity .2s linear; }
/* line 447, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block:hover .action {
  opacity: .7; }

/* line 450, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circle div .circleLogo {
  background-color: #2d3e50;
  box-shadow: 0 1px 0 #2d3e50;
  color: white;
  border: 2px ridge white;
  text-align: center;
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 40%; }
  /* line 461, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .circle div .circleLogo.platform {
    width: 95%;
    height: 51px; }

/* line 467, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circleLogo h2 {
  color: white;
  margin-top: 15px; }

/* line 472, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_image {
  margin-left: auto;
  margin-right: auto;
  border: 2px ridge gold;
  border-radius: 10%;
  width: 90%;
  background-size: 100% 150%;
  background-repeat: no-repeat;
  background-position: center;
  height: 42%; }

/* line 484, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.KaiadderText {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 1.4em;
  color: white; }

/* line 492, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.Kaiadder {
  background-color: #2D3E50; }

/* line 495, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ladder {
  background-color: white; }

/* line 498, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.card img {
  max-width: 100px; }

/* line 501, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_header, .game_recomendation {
  margin-top: 5px;
  font-size: 1.2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #dedcc4;
  border: 1px solid gold; }

/* line 513, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_recomendation {
  height: 38%; }
  /* line 516, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation.tall {
    height: 68%; }

/* line 520, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_name {
  margin-left: 8px; }

/* line 523, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_recomendation_text {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 20px; }

/* line 530, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-menu-selected {
  background-color: gray; }

/* line 535, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.item-input {
  padding: 1px 0px 1px 12px; }

/* line 540, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.library-header {
  height: 100px;
  font-size: 3em;
  background-color: #191818;
  color: #dedcc4; }
  /* line 545, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .library-header .library-avatar {
    border-radius: 100px;
    margin-left: 1em;
    posistion: absolute;
    right: 10px;
    top: 10px; }

/* line 556, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.movedown {
  margin-top: 20px; }

/* line 559, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.avatar {
  -moz-border-radius: 100px;
  border-radius: 100px; }

/* line 563, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platFormSmall {
  max-width: 240px;
  max-height: 44px; }

/* line 568, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platFormLarge {
  max-width: 240px;
  max-height: 44px; }

/* line 572, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.fb_iframe_widget {
  margin-top: 10px;
  margin-left: 10px; }

/* line 576, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.smallText {
  font-size: 50%; }

/* line 580, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modalSelectionArea {
  overflow-y: scroll;
  height: 300px;
  margin-top: 50px; }

/* line 585, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modalAdder {
  min-height: 350px; }

/* line 588, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.moveupby10 {
  top: -15px; }

/* line 592, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ribbon {
  background-color: #2d3e50; }

/* line 595, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.logo {
  width: 72px;
  height: 72px;
  padding-left: 10px; }

/* line 600, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosMenu {
  position: fixed;
  bottom: 0px;
  background-color: #2d3e50; }
  /* line 604, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .iosMenu .pure-menu-item {
    height: 48px; }
    /* line 606, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .iosMenu .pure-menu-item i {
      display: block;
      height: 24px;
      margin: -4px; }

/*# sourceMappingURL=styles.css.map */