/* line 12, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
body {
  color: #3a3a3c; }

/* line 16, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
html, body {
  height: 100%;
  line-height: 1.7em;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #3a3a3c; }

/* line 27, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-positive.button-outline {
  border-color: #8cc63f;
  background: transparent;
  color: #8cc63f; }
  /* line 31, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .button.button-positive.button-outline:hover {
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

/* line 42, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.item-input {
  background-color: #beb097;
  border-color: #f8931d; }

/* line 46, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu {
  margin-left: -150px;
  /* "#menu" width */
  width: 150px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 1000;
  /* so the menu or its navicon stays above all content */
  background: #D0C0A4;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

/* line 59, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modal {
  top: 10%;
  bottom: 10%; }

/* line 63, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-modal {
  background-color: #beb097;
  border-color: #f8931d;
  color: #3a3a3c; }

/* line 68, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-modal.libarybutton {
  color: white; }

/* line 71, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-review {
  background-color: transparent;
  border-color: transparent;
  color: #3a3a3c; }

/* line 76, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-menu-item {
  width: 160px;
  border-color: #f8931d;
  border-width: 1px;
  height: 47px;
  border-style: solid; }

/* line 84, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
ol.categories {
  float: left;
  list-style: decimal;
  padding-left: 20px;
  margin-right: 30px;
  line-height: 2em;
  color: #6d6e70; }
  /* line 91, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  ol.categories:last-child {
    margin-right: 0; }

/* line 99, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.l-box {
  padding: 1em; }

/* line 103, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/* line 107, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.is-center {
  width: 115%;
  text-align: center;
  left: -30px;
  position: relative;
  background: #3a3a3c;
  color: #D0C0A4; }

/* line 117, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%; }
/* line 122, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em; }

/* line 131, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 88%;
  top: 0;
  position: fixed !important; }

/* line 145, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-container-dashboard {
  background: #3a3a3c;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  top: 0; }

/* line 153, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-button-primary {
  color: #3a3a3c;
  background-color: #D0C0A4; }

/* line 159, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-button-primary :hover {
  background-color: #beb097; }

/* line 163, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase; }

/* line 172, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-dashboard {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

/* line 178, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gamefilter {
  margin-bottom: 15px; }

/* line 181, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: #f8931d;
  border: 3px solid #f8931d;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-transform: uppercase; }

/* line 192, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-subhead {
  color: #f8931d;
  letter-spacing: 0.05em;
  opacity: 0.8; }
  /* line 196, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-subhead.confidants {
    font-size: .5em; }

/* line 201, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosContent .splash-dashboard {
  width: 100%; }
/* line 205, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosContent .splash {
  width: 100%; }

/* line 211, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content {
  overflow-x: hidden;
  background: #D0C0A4; }

/* line 215, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 65%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #D0C0A4; }

/* line 225, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gameObject {
  border: 1px solid #ddd;
  background: #D0C0A4;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
  min-height: 230px; }

/* This is the class used for the main content headers (<h2>) */
/* line 233, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  color: #f8931d;
  background-color: primaryDark; }

/* This is a modifier class used when the content-head is inside a ribbon */
/* line 243, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-head-ribbon {
  color: #D0C0A4; }

/* line 246, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-subhead {
  color: #3a3a3c;
  margin: 50px 0 20px 0;
  font-weight: 300; }
  /* line 250, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .content-subhead i {
    margin-right: 7px; }

/* line 255, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.footer {
  position: fixed;
  color: white;
  bottom: 0px;
  z-index: 500;
  width: 100%;
  background-color: #2d3e50; }

@media (max-width: 979px) {
  /* line 264, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideMobile {
    display: none; }
  /* line 267, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideDesktop {
    display: inline-block; } }

@media (min-width: 980px) {
  /* line 273, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideMobile {
    display: inline; }
  /* line 276, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideDesktop {
    display: none; } }

/* line 280, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mobileLogoPos {
  position: absolute;
  margin-left: 40%;
  margin-top: 40px; }

/* line 285, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mainBackground {
  background: url('../images/stock2.png') no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 100%;
  height: 85%; }

@media (min-width: 48em) {
  /* line 295, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  body {
    font-size: 16px; }
  /* line 298, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .content {
    padding: 1em; }
  /* line 301, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash {
    width: 50%;
    height: 50%;
    margin-top: 30px; }
  /* line 307, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-head {
    font-size: 200%; }
  /* line 311, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .l-box-lrg {
    border: none; } }

@media (min-width: 78em) {
  /* We increase the header font size even more */
  /* line 318, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-head {
    font-size: 250%; } }

/* line 322, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modal {
  background-color: #D0C0A4;
  color: #3a3a3c; }
  /* line 325, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .modal .bar {
    background-color: #3a3a3c;
    border-bottom: 1px solid #f8931d; }
    /* line 328, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .modal .bar .title {
      color: #f8931d; }

/* line 333, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.blockCard {
  display: inline-block; }

/* line 337, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel {
  float: left;
  width: 275px;
  height: 350px;
  position: relative;
  font-size: .8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }
  /* line 346, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    min-width: 275px;
    min-height: 350px;
    border: 2px ridge #f8931d;
    background: url('../images/cardback2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    /* line 378, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .front .rec {
      width: 275px;
      height: 350px; }
  /* line 385, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #D0C0A4;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    /* line 412, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.postive {
      background: #66cc33; }
    /* line 415, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.negative {
      background: red; }
    /* line 418, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.unknown {
      background: #D0C0A4; }
    /* line 421, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.ok {
      background: yellow; }
  /* line 426, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel.flip .front {
    z-index: 8;
    border-color: #eee;
    background: url('../images/cardback2.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    height: 188px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 438, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel.flip .back {
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }

/* line 447, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mobilePanel {
  background-color: #D0C0A4;
  color: #3a3a3c; }
  /* line 451, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel.flipable {
    height: 188px;
    background: url('../images/cardbackMobile.png'); }
  /* line 456, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel.flip .front {
    z-index: 8;
    border-color: #D0C0A4;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    display: none;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  /* line 465, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel.flip .back {
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }
  /* line 474, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel .back {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateX(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }
    /* line 490, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.postive {
      background: #66cc33; }
    /* line 493, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.negative {
      background: red; }
    /* line 496, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.unknown {
      background: #D0C0A4; }
    /* line 499, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.ok {
      background: yellow; }
  /* line 503, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel .front {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #D0C0A4;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out; }

/* line 522, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.lightblue {
  height: 40px;
  background-color: #2d3e50;
  top: -39px;
  position: relative;
  width: 100%; }

/* line 529, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.white-link {
  color: white; }

@keyframes shuffleanimation {
  /* line 534, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }

  /* line 535, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }

  /* line 536, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }

@-webkit-keyframes shuffleanimation {
  /* line 540, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }

  /* line 541, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }

  /* line 542, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }

/* line 544, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.shuffle {
  animation-name: shuffleanimation;
  -webkit-animation-name: shuffleanimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-duration: 1s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 553, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.loadingCard {
  position: absolute;
  float: left;
  left: 38%;
  top: 38%; }

/* line 559, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.loadingPadding {
  min-height: 400px; }

/* line 563, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gameDes {
  max-height: 300px;
  overflow: scroll; }

/* line 569, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click .front {
  cursor: pointer;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }
/* line 575, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click.flip .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg); }
/* line 580, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click .back {
  cursor: pointer;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }
/* line 586, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click.flip .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/* line 592, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.contact {
  width: 290px;
  height: 240px; }

/* line 597, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel .pad {
  padding: 0 15px; }
/* line 600, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel.flip .action {
  display: none; }

/* line 605, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block ol li {
  text-align: left;
  margin: 0 0 0 28px; }
/* line 606, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block .action {
  display: block;
  padding: 3px;
  background: #2d3e50;
  text-align: right;
  font-size: .8em;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  -webkit-transition: opacity .2s linear; }
/* line 607, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block:hover .action {
  opacity: .7; }

/* line 610, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circle div .circleLogo {
  box-shadow: 0 1px 0 #D0C0A4;
  color: #f8931d;
  text-align: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 40%; }
  /* line 620, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .circle div .circleLogo.platform {
    width: 95%;
    height: 51px; }

/* line 626, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circleLogo h2 {
  color: white;
  margin-top: 15px; }

/* line 631, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.username {
  color: #D0C0A4; }

/* line 634, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_image {
  margin-left: auto;
  margin-right: auto;
  border: 2px ridge #f8931d;
  border-radius: 10%;
  width: 90%;
  background-size: 100% 150%;
  background-repeat: no-repeat;
  background-position: center;
  height: 42%; }
  /* line 644, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_image.mobile {
    border-radius: 0%;
    height: 140px; }

/* line 650, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.KaiadderText {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 1.4em;
  color: white; }

/* line 658, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.Kaiadder {
  background-color: #2d3e50; }

/* line 661, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ladder {
  background-color: white; }

/* line 664, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.card img {
  max-width: 100px; }

/* line 667, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_header, .game_recomendation {
  margin-top: 5px;
  font-size: 1.2em;
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5px;
  background-color: #D0C0A4;
  border: 1px solid #f8931d; }

/* line 679, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_recomendation {
  height: 38%; }
  /* line 682, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation.tall {
    height: 95%; }

/* line 686, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_name {
  margin-left: 8px; }
  /* line 688, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_name.mobile {
    color: #3a3a3c;
    font-size: 1.4em; }

/* line 694, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_recomendation_text {
  margin-left: 8px;
  margin-right: 8px;
  margin-top: 20px; }
  /* line 698, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation_text.mobile {
    color: #3a3a3c; }

/* line 702, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_mobile {
  border: 1px solid #f8931d;
  margin-bottom: 5px; }
  /* line 705, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.postive {
    background: #66cc33; }
  /* line 708, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.negative {
    background: red; }
  /* line 711, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.unknown {
    background: #D0C0A4; }
  /* line 714, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.ok {
    background: yellow; }
  /* line 717, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.platforms {
    background: #D0C0A4; }
    /* line 719, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .game_mobile.platforms :focus {
      background: #beb097; }
  /* line 723, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.gameAdder {
    height: 50px;
    background: #D0C0A4; }
    /* line 726, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .game_mobile.gameAdder :focus {
      background: #beb097; }

/* line 732, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.newGameAdder {
  margin: 12px 30%;
  color: #3a3a3c;
  font-size: 1.8em;
  position: absolute; }

/* line 738, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-menu-selected {
  background-color: #beb097; }

/* line 743, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.item-input {
  padding: 1px 0px 1px 12px; }

/* line 748, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.library-header {
  height: 100px;
  font-size: 3em;
  background-color: #2d3e50;
  color: #D0C0A4; }
  /* line 753, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .library-header .library-avatar {
    border-radius: 100px;
    margin-left: 1em;
    posistion: absolute;
    right: 10px;
    top: 10px; }

/* line 764, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.movedown {
  margin-top: 20px; }

/* line 767, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.avatar {
  -moz-border-radius: 100px;
  border-radius: 100px; }

/* line 771, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platFormSmall {
  max-width: 240px;
  max-height: 44px; }
  /* line 774, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .platFormSmall.mobile {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 780, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu .pure-menu-heading {
  background-color: #D0C0A4; }

/* line 785, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu .pure-menu ul, #menu .pure-menu .menu-item-divided {
  border-top: 1px solid #D0C0A4; }

/*
        Change color of the anchor links on hover/focus.
*/
/* line 792, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu .pure-menu li a:hover, #menu .pure-menu li a:focus {
  background: #beb097; }

/* line 795, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platFormLarge {
  max-width: 240px;
  max-height: 44px; }

/* line 799, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.fb_iframe_widget {
  margin-top: 10px;
  margin-left: 10px; }

/* line 803, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.smallText {
  font-size: 50%; }

/* line 807, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modalSelectionArea {
  overflow-y: scroll;
  height: 300px;
  margin-top: 50px; }

/* line 812, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modalAdder {
  min-height: 350px; }

/* line 815, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.moveupby10 {
  top: -15px; }

/* line 819, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ribbon {
  background-color: #3a3a3c;
  color: #f8931d; }

/* line 823, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.logoLarge {
  width: 100px; }

/* line 826, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.logo {
  width: 72px;
  height: 72px; }

/* line 831, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.smalllogo {
  width: 30px;
  height: 30px; }

/* line 835, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosMenu {
  position: fixed;
  bottom: 0px;
  background-color: #2d3e50; }
  /* line 839, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .iosMenu .pure-menu-item {
    height: 48px; }
    /* line 841, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .iosMenu .pure-menu-item i {
      display: block;
      height: 24px;
      margin: -4px; }

/* line 849, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.menu-logo {
  margin-left: 7px; }

/* line 852, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.primaryOrange {
  color: #f8931d; }

/* line 855, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
a {
  color: #D0C0A4; }

/* line 858, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
a :visited {
  color: #beb097; }

/* line 861, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platformList {
  width: 116%; }

/* line 865, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.addingGameMargin {
  margin-top: 11px;
  position: absolute; }

/* line 870, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.noDec {
  text-decoration: none; }

/*# sourceMappingURL=styles.css.map */
