/* line 17, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
body, a {
  color: #222; }

/* line 21, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
html, body {
  height: 100%;
  line-height: 1.3em;
  font-size: 13px;
  overflow-x: hidden;
  overflow-y: scroll;
  background-color: #f7f1e6; }

/* line 32, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-positive.button-outline {
  border-color: #92bb2c;
  background: transparent;
  color: #92bb2c; }
  /* line 36, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .button.button-positive.button-outline:hover {
    color: #fff;
    -webkit-transition: all 0.4s ease-in-out;
    -moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

/* line 48, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
ul {
  list-style-type: none; }

/* line 52, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.item-input {
  background-color: #f3e2c4;
  border-color: #f8931d;
  color: #222; }

/* line 57, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu {
  margin-left: -200px;
  /* "#menu" width */
  width: 200px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 96;
  /* so the menu or its navicon stays above all content */
  background: #222;
  overflow-y: auto;
  overflow-x: hidden;
  -webkit-overflow-scrolling: touch; }

/* line 70, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modal {
  top: 10%;
  bottom: 10%; }

/* line 74, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-modal {
  background-color: #f3e2c4;
  border-color: #f8931d;
  color: #222; }

/* line 79, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-modal.libarybutton {
  color: white; }

/* line 82, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.button.button-review {
  background-color: transparent;
  border-color: transparent;
  color: #fff; }

/* line 87, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-menu-item {
  width: 200px;
  border-bottom: 1px solid #333;
  height: 47px; }

/* line 93, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
ol.categories {
  float: left;
  list-style: decimal;
  padding-left: 20px;
  margin-right: 30px;
  line-height: 2em;
  color: #6d6e70; }
  /* line 100, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  ol.categories:last-child {
    margin-right: 0; }

/* line 108, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.l-box {
  padding: 1em; }

/* line 111, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.l-box p {
  color: #f7f1e6; }

/* line 114, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.l-box-lrg {
  padding: 2em;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1); }

/* line 118, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.is-center {
  width: 115%;
  text-align: center;
  left: -30px;
  position: relative;
  background: #222;
  color: #f7f1e6; }

/* line 128, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-form label {
  margin: 1em 0 0;
  font-weight: bold;
  font-size: 100%; }

/* line 133, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-form input[type] {
  border: 2px solid #ddd;
  box-shadow: none;
  font-size: 100%;
  width: 100%;
  margin-bottom: 1em; }

/* line 142, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-container {
  background: #1f8dd6;
  z-index: 1;
  overflow: hidden;
  /* The following styles are required for the "scroll-over" effect */
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  height: 88%;
  top: 0;
  position: fixed !important; }

/* line 156, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-container-dashboard {
  background: #f7f1e6;
  margin-left: auto;
  margin-right: auto;
  top: 0; }

/* line 163, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-button-primary {
  color: #222;
  background-color: #f7f1e6; }

/* line 169, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-button-primary :hover {
  background-color: #f3e2c4; }

/* line 173, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash {
  width: 80%;
  height: 50%;
  margin: auto;
  top: 100px;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
  text-transform: uppercase; }

/* line 181, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.cardActions {
  position: absolute;
  bottom: 0px; }
  /* line 184, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .cardActions .md-button {
    min-width: 0px; }

/* line 189, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-dashboard {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  position: relative; }

/* line 195, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gamefilter {
  margin-bottom: 15px; }

/* line 198, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-head {
  font-size: 20px;
  font-weight: bold;
  color: #f8931d;
  border: 3px solid #f8931d;
  padding: 1em 1.6em;
  font-weight: 100;
  border-radius: 5px;
  line-height: 1em;
  text-transform: uppercase; }
  /* line 208, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-head.library {
    padding: 0.5em 0.5em; }

/* line 212, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.splash-subhead {
  color: #f8931d;
  letter-spacing: 0.05em;
  opacity: 0.8; }
  /* line 216, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-subhead.confidants {
    font-size: .5em; }

/* line 220, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.md-subheader {
  background-color: #f7f1e6 !important; }

/* line 224, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosContent .splash-dashboard {
  width: 100%; }

/* line 228, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosContent .splash {
  width: 100%; }

/* line 234, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content {
  overflow-x: hidden;
  background: #222; }

/* line 238, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-wrapper {
  /* These styles are required for the "scroll-over" effect */
  position: absolute;
  top: 65%;
  width: 100%;
  min-height: 12%;
  z-index: 2;
  background: #222; }

/* line 248, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gameObject {
  border: 1px solid #ddd;
  background: #f7f1e6;
  margin: 0 0.5em 2em;
  padding: 0 0 3em;
  min-height: 230px; }

/* This is the class used for the main content headers (<h2>) */
/* line 256, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-head {
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  margin: 2em 0 1em;
  color: #f8931d;
  background-color: primaryDark; }

/* This is a modifier class used when the content-head is inside a ribbon */
/* line 266, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-head-ribbon {
  color: #f7f1e6; }

/* line 269, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.content-subhead {
  color: #f7f1e6;
  margin: 50px 0 20px 0;
  font-weight: 300; }
  /* line 273, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .content-subhead i {
    margin-right: 7px; }

/* line 278, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.footer {
  position: fixed;
  color: white;
  bottom: 0px;
  z-index: 97;
  width: 100%;
  background-color: #2d3e50; }

@media (max-width: 979px) {
  /* line 287, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideMobile {
    display: none; }
  /* line 290, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideDesktop {
    display: inline-block; }
  /* line 293, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .modal {
    width: 84%;
    right: 0%;
    left: 16%;
    z-index: 99999; } }

@media (max-width: 766px) {
  /* line 301, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .modal {
    width: 100%;
    right: 0%;
    left: 0%;
    z-index: 99999; } }

@media (min-width: 980px) {
  /* line 309, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideMobile {
    display: inline; }
  /* line 314, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .hideDesktop {
    display: none; } }

/* line 318, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mobileText {
  font-size: .7em; }
  /* line 320, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobileText button .md-list-item-inner {
    float: left; }

/* line 325, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.largeText button .md-list-item-inner {
  float: left; }

/* line 329, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.md-dialog-container {
  z-index: 98;
  position: fixed !important; }

/* line 333, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.md-backdrop {
  position: fixed !important; }

/* line 339, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mobileLogoPos {
  position: absolute;
  margin-left: 40%;
  margin-top: 10px; }

/* line 344, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mainBackground {
  background: url("../images/stock2.jpg") no-repeat fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position-y: 100%;
  height: 65%; }

@media (min-width: 48em) {
  /* line 354, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  body {
    font-size: 16px; }
  /* line 357, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .content {
    padding: 1em; }
  /* line 360, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash {
    width: 50%;
    height: 50%;
    margin-top: 30px; }
  /* line 366, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-head {
    font-size: 200%; }
  /* line 370, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .l-box-lrg {
    border: none; } }

@media (min-width: 78em) {
  /* We increase the header font size even more */
  /* line 377, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .splash-head {
    font-size: 250%; } }

/* line 381, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modal {
  background-color: #f7f1e6;
  color: #222; }
  /* line 384, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .modal .bar {
    background-color: #222;
    border-bottom: 1px solid #f8931d; }
    /* line 387, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .modal .bar .title {
      color: #f8931d; }

/* line 392, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.blockCard {
  display: inline-block; }

/* line 395, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
md-toolbar {
  background-color: #f8931d !important; }

/* line 398, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel {
  float: left;
  width: 275px;
  height: 350px;
  position: relative;
  font-size: .8em;
  -webkit-perspective: 600px;
  -moz-perspective: 600px;
  perspective: 600px; }
  /* line 407, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel .front {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 900;
    width: inherit;
    height: inherit;
    min-width: 275px;
    min-height: 350px;
    border: 2px ridge #f8931d;
    background: url("../images/cardback2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    text-align: center;
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.9);
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: white;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    /* line 439, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .front .rec {
      width: 275px;
      height: 350px; }
  /* line 446, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel .back {
    float: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #f7f1e6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6);
    -webkit-transform: rotateY(-180deg);
    -moz-transform: rotateY(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateY(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    /* line 473, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.postive {
      background: #92bb2c; }
    /* line 476, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.negative {
      background: #fb4b0f; }
    /* line 479, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.unknown {
      background: #f3e2c4; }
    /* line 482, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .panel .back.ok {
      background: #fdde09; }
  /* line 487, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel.flip .front {
    z-index: 8;
    border-color: #eee;
    background: url("../images/cardback2.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    height: 188px;
    -webkit-transform: rotateY(180deg);
    -moz-transform: rotateY(180deg);
    transform: rotateY(180deg); }
  /* line 499, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .panel.flip .back {
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }

/* line 508, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.mobilePanel {
  background-color: #f7f1e6;
  color: #222; }
  /* line 512, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel.flipable {
    background: url("../images/cardbackMobile.png"); }
  /* line 516, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel.flip .front {
    z-index: 8;
    border-color: #f7f1e6;
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
    display: none;
    -webkit-transform: rotateX(180deg);
    -moz-transform: rotateX(180deg);
    transform: rotateX(180deg); }
  /* line 525, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel.flip .back {
    z-index: 9;
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2); }
  /* line 534, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel .back {
    float: none;
    top: 0;
    left: 0;
    z-index: 800;
    width: inherit;
    height: inherit;
    border: 1px solid #f7f1e6;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.6); }
  /* line 546, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel .back {
    -webkit-transform: rotateX(-180deg);
    -moz-transform: rotateX(-179deg);
    /* setting to 180 causes an unnatural-looking half-flip */
    transform: rotateX(-179deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }
    /* line 562, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.postive {
      background: #92bb2c; }
    /* line 565, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.negative {
      background: #fb4b0f; }
    /* line 568, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.unknown {
      background: #f3e2c4; }
    /* line 571, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .mobilePanel .back.ok {
      background: #fdde09; }
  /* line 577, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .mobilePanel .front {
    -webkit-transform: rotateX(0deg) rotateY(0deg);
    -moz-transform: rotateX(0deg) rotateY(0deg);
    transform: rotateX(0deg) rotateY(0deg);
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    backface-visibility: hidden;
    color: #f7f1e6;
    /* -- transition is the magic sauce for animation -- */
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out; }

/* line 595, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.spacer16 {
  width: 16px;
  display: inline; }

/* line 599, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.lightblue {
  height: 40px;
  background-color: #2d3e50;
  top: -39px;
  position: relative;
  width: 100%; }

/* line 606, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.white-link {
  color: #f8931d; }

/* line 610, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.white-text {
  color: #f7f1e6; }

@keyframes shuffleanimation {
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }
  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }
  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }

@-webkit-keyframes shuffleanimation {
  0% {
    left: 38%;
    top: 38%;
    z-index: 2; }
  50% {
    left: 200px;
    top: 20%;
    z-index: 1; }
  100% {
    left: 38%;
    top: 38%;
    z-index: -1; } }

/* line 625, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.shuffle {
  animation-name: shuffleanimation;
  -webkit-animation-name: shuffleanimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1s;
  /* Chrome, Safari, Opera */
  animation-duration: 1s;
  -webkit-animation-delay: .5s;
  /* Chrome, Safari, Opera */
  animation-delay: .5s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 636, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.addedMargin.ng-hide searching {
  -webkit-animation: zoomOutUp 0.5s;
  -moz-animation: zoomOutUp 0.5s;
  -ms-animation: zoomOutUp 0.5s;
  animation: zoomOutUp 0.5s; }

/* line 643, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.addedMargin searching {
  -webkit-animation: zoomInDown 0.5s;
  -moz-animation: zoomInDown 0.5s;
  -ms-animation: zoomInDown 0.5s;
  animation: zoomInDown 0.5s; }

/* line 650, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.loadingCard {
  position: fixed;
  float: left;
  left: 38%;
  top: 38%; }

/* line 657, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.loadingPadding {
  min-height: 400px; }

/* line 661, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.gameDes {
  max-height: 300px;
  overflow: scroll; }

/* line 667, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click .front {
  cursor: pointer;
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/* line 673, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click.flip .front {
  -webkit-transform: rotateX(180deg);
  -moz-transform: rotateX(180deg);
  transform: rotateX(180deg); }

/* line 678, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click .back {
  cursor: pointer;
  -webkit-transform: rotateX(-180deg);
  -moz-transform: rotateX(-180deg);
  transform: rotateX(-180deg); }

/* line 684, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.click.flip .back {
  -webkit-transform: rotateX(0deg);
  -moz-transform: rotateX(0deg);
  transform: rotateX(0deg); }

/* line 690, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.contact {
  width: 290px;
  height: 240px; }

/* line 695, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel .pad {
  padding: 0 15px;
  border-radius: 2px; }

/* line 700, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.panel.flip .action {
  display: none; }

/* line 705, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block ol li {
  text-align: left;
  margin: 0 0 0 28px; }

/* line 706, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block .action {
  display: block;
  padding: 3px;
  background: #2d3e50;
  text-align: right;
  font-size: .8em;
  opacity: 0;
  position: absolute;
  cursor: pointer;
  -webkit-transition: opacity 0.2s linear; }

/* line 707, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.block:hover .action {
  opacity: .7; }

/* line 710, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circle div .circleLogo {
  color: #f8931d;
  text-align: center;
  width: 55%;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: auto;
  margin-top: 40%; }
  /* line 719, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .circle div .circleLogo.platform {
    width: 95%;
    height: 51px; }

/* line 725, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circleLogo h2 {
  color: white;
  margin-top: 15px; }

/* line 730, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.username {
  color: #222; }

/* line 733, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_image {
  background-size: 100% 150%;
  background-repeat: no-repeat;
  background-position: center;
  height: 55%;
  width: 100%;
  margin: 0px; }
  /* line 740, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_image.mobile {
    border-radius: 0%;
    height: 140px; }
  /* line 744, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_image.confidant {
    background-color: #f7f1e6 !important; }

/* line 748, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_image:hover {
  opacity: 0.7; }

/* line 752, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.trucatedName {
  overflow: hidden;
  max-width: 275px;
  white-space: nowrap; }

/* line 757, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.KaiadderText {
  margin-right: 20%;
  margin-left: 20%;
  margin-top: 10%;
  font-size: 1.4em;
  color: white; }

/* line 765, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.Kaiadder {
  background-color: #2d3e50; }

/* line 768, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ladder {
  background-color: white; }

/* line 771, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.card img {
  max-width: 100px; }

/* line 775, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.infoIcon {
  float: right;
  top: -51px;
  margin-right: 18px; }

/* line 780, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.postive .game_header {
  background-color: rgba(146, 187, 44, 0.8); }

/* line 783, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.negative .game_header {
  background-color: rgba(251, 75, 18, 0.8); }

/* line 786, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ok .game_header {
  background-color: rgba(253, 222, 9, 0.8); }

/* line 789, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.unknown .game_header {
  background-color: rgba(243, 226, 196, 0.8); }

/* line 792, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_header, .game_recomendation {
  margin-top: 5px;
  margin-bottom: 5px; }

/* line 798, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_header {
  position: relative;
  top: -25px;
  font-size: 1.4em; }

/* line 803, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.maxwidth {
  width: 100%; }

/* line 806, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.contact_text {
  top: 150px;
  position: relative; }

/* line 810, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_recomendation {
  position: relative;
  width: 100%;
  height: 38%;
  font-size: 1em; }
  /* line 817, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation.tall {
    height: 95%; }
  /* line 821, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation.medium {
    height: 50%; }
  /* line 824, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation.confidant {
    top: 0px; }

/* line 828, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_mobile {
  width: 100%; }

/* line 831, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_name {
  margin-left: 8px; }
  /* line 833, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_name.mobile {
    color: #222;
    font-size: .8em; }

/* line 838, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.probuttons {
  font-size: .7em;
  padding: 0px;
  margin: 0px;
  margin-left: 5px; }

/* line 844, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_recomendation_text {
  margin-left: 10px;
  margin-right: 10px;
  font-size: 1em; }
  /* line 849, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation_text md-list {
    padding: 0px; }
  /* line 853, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_recomendation_text.mobile {
    margin-top: 0px;
    margin-left: 8px;
    color: #222; }

/* line 859, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.game_mobile {
  border: 1px solid #f8931d;
  margin-bottom: 5px; }
  /* line 862, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.postive {
    background: #92bb2c; }
  /* line 865, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.negative {
    background: #fb4b0f; }
  /* line 868, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.unknown {
    background: #f3e2c4; }
  /* line 871, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.ok {
    background: #fdde09; }
  /* line 876, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.platforms {
    background: #f7f1e6; }
    /* line 878, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .game_mobile.platforms :focus {
      background: #f3e2c4; }
  /* line 883, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .game_mobile.gameAdder {
    height: 50px;
    background: #f7f1e6; }
    /* line 886, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .game_mobile.gameAdder :focus {
      background: #f3e2c4; }

/* line 894, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.fabarea {
  position: fixed;
  right: 50px;
  bottom: 50px; }

/* line 900, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.editHeader.postive {
  color: #92bb2c; }

/* line 903, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.editHeader.negative {
  color: #fb4b0f; }

/* line 906, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.editHeader.unknown {
  color: #f3e2c4; }

/* line 909, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.editHeader.ok {
  color: #fdde09; }

/* line 915, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.newGameAdder {
  margin: 0px 30%;
  color: #222;
  font-size: 1.8em;
  position: absolute; }

/* line 921, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.pure-menu-selected {
  background-color: #f7f1e6;
  color: #f8931d !important; }
  /* line 926, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .pure-menu-selected a button span {
    color: #f8931d !important; }

/* line 933, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.item-input {
  padding: 1px 0px 1px 12px; }

/* line 938, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.library-header {
  height: 100px;
  font-size: 3em;
  background-color: #2d3e50;
  color: #f7f1e6; }
  /* line 943, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .library-header .library-avatar {
    border-radius: 100px;
    margin-left: 1em;
    posistion: absolute;
    right: 10px;
    top: 10px; }

/* line 954, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.movedown {
  margin-top: 20px; }

/* line 957, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.avatar {
  -moz-border-radius: 100px;
  border-radius: 100px; }

/* line 961, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platFormSmall {
  max-width: 240px;
  max-height: 44px; }
  /* line 964, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .platFormSmall.mobile {
    margin-left: 15px;
    margin-top: 10px;
    margin-bottom: 10px; }

/* line 970, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu .pure-menu-heading {
  height: 145px;
  background-image: url(../images/logo-dark.png);
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat; }

/* line 979, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
  border-top: 1px solid #f7f1e6; }

/*
        Change color of the anchor links on hover/focus.
*/
/* line 986, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
#menu .pure-menu li a:hover,
#menu .pure-menu li a:focus {
  color: #f8931d; }

/* line 989, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platFormLarge {
  max-width: 240px;
  max-height: 44px; }

/* line 993, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.fb_iframe_widget {
  margin-top: 10px;
  margin-left: 10px; }

/* line 998, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.adding10left {
  margin-left: 10px; }

/* line 1002, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.smallText {
  font-size: 70%; }
  /* line 1004, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .smallText a {
    color: #9CA2A5; }

/* line 1009, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modalSelectionArea {
  overflow-y: scroll;
  height: 300px;
  width: 300px; }

/* line 1014, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.modalAdder {
  min-height: 350px; }

/* line 1017, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.moveupby10 {
  top: -15px; }

/* line 1021, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ribbon {
  background-color: #222;
  color: #f8931d; }

/* line 1025, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.logoLarge {
  width: 100px; }

/* line 1028, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.logo {
  width: 72px;
  height: 72px; }

/* line 1033, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.smalllogo {
  width: 30px;
  height: 30px; }
  /* line 1036, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .smalllogo.marign16 {
    margin-right: 16px; }

/* line 1040, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.iosMenu {
  position: fixed;
  bottom: 0px;
  background-color: #2d3e50; }
  /* line 1044, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  .iosMenu .pure-menu-item {
    height: 48px; }
    /* line 1046, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
    .iosMenu .pure-menu-item i {
      display: block;
      height: 24px;
      margin: -4px; }

/* line 1054, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.logoText {
  vertical-align: text-top; }

/* line 1057, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.menu-logo {
  margin-left: 7px; }

/* line 1060, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.primaryOrange {
  color: #f8931d; }

/* line 1063, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
a {
  color: #f7f1e6; }

/* line 1066, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
a :visited {
  color: #f8931d; }

/* line 1069, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.platformList {
  width: 116%; }

/* line 1074, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.addingGameMargin {
  margin-top: 11px;
  position: absolute; }

/* line 1079, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.noDec {
  text-decoration: none; }

@keyframes steamCardAnimation {
  0% {
    left: 90%; }
  100% {
    left: 10%; } }

@-webkit-keyframes steamCardAnimation {
  0% {
    left: 90%; }
  100% {
    left: 10%; } }

@keyframes rkCardAnimation {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

@-webkit-keyframes rkCardAnimation {
  0% {
    opacity: 0.0; }
  100% {
    opacity: 1.0; } }

/* line 1103, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.reallysmall {
  height: 30px; }

/* line 1106, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.steamCard {
  animation-name: steamCardAnimation;
  -webkit-animation-name: steamCardAnimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1.8s;
  /* Chrome, Safari, Opera */
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  position: absolute;
  min-width: 100px;
  min-height: 127px;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background: url("../images/steamcardSmall.png"); }

/* line 1120, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.ion-navicon-round:before {
  color: #f8931d;
  font-size: 2.2em; }

/* line 1124, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.rkCard {
  animation-name: rkCardAnimation;
  -webkit-animation-name: rkCardAnimation;
  /* Chrome, Safari, Opera */
  -webkit-animation-duration: 1.8s;
  /* Chrome, Safari, Opera */
  animation-duration: 1.8s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite; }

/* line 1132, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circlebutton.activated {
  background-color: #f8931d;
  border-color: #f8931d;
  color: white; }

/* line 1137, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circlebutton {
  border-radius: 40px;
  border-color: #f8931d;
  background-color: transparent;
  border-width: 2px;
  color: white; }

/* line 1145, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.circleselected {
  border-color: #f8931d;
  background-color: #f8931d;
  border-width: 2px;
  color: white; }

/* line 1152, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.userImageInLibrary {
  width: 73px;
  height: 73px;
  float: left; }

/* line 1157, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.userLibaryImage {
  width: inherit;
  height: inherit; }

/* line 1165, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.ng-hide-remove.ng-hide-remove-active, .userLibaryImage.ng-hide-remove.ng-hide-remove-active, .userHeaderName.ng-hide-remove.ng-hide-remove-active {
  -webkit-animation: zoomInDown 0.5s;
  -moz-animation: zoomInDown 0.5s;
  -ms-animation: zoomInDown 0.5s;
  animation: zoomInDown 0.5s; }

/* line 1172, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.ng-hide-add.ng-hide-add-active, .userLibaryImage.ng-hide-add.ng-hide-add-active, .userHeaderName.ng-hide-add.ng-hide-add-active {
  -webkit-animation: zoomOutUp 0.5s;
  -moz-animation: zoomOutUp 0.5s;
  -ms-animation: zoomOutUp 0.5s;
  animation: zoomOutUp 0.5s;
  position: absolute; }

/* line 1179, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.ng-enter-stagger, .userLibaryImage.ng-enter-stagger, .userHeaderName.ng-enter-stagger {
  transition-delay: 0.1s;
  transition-duration: 0s; }

/* line 1187, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.libraryanimation.ng-move,
.libraryanimation.ng-enter,
.libraryanimation.ng-enter-active {
  -webkit-animation: fadeInLeft 0.5s;
  -moz-animation: fadeInLeft 0.5s;
  -ms-animation: fadeInLeft 0.5s;
  animation: fadeInLeft 0.5s; }

/* line 1195, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.libraryanimation.ng-leave,
.libraryanimation.ng-leave-active {
  -webkit-animation: fadeOutRight 0.5s;
  -moz-animation: fadeOutRight 0.5s;
  -ms-animation: fadeOutRight 0.5s;
  animation: fadeOutRight 0.5s;
  position: absolute; }

/* line 1202, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.libraryanimation.ng-enter-stagger {
  -webkit-transition-delay: .2s;
  -moz-transition-delay: .2s;
  transition-delay: .2s;
  -webkit-transition-duration: 0;
  -moz-transition-delay: .2s;
  transition-duration: 0s; }

/* line 1213, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
md-select {
  padding: 0;
  background-color: #f7f1e6;
  color: #f8931d; }
  /* line 1217, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
  md-select .md-select-label.md-placeholder {
    color: #f8931d; }

/* line 1221, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
md-content {
  background-color: #f7f1e6 !important; }

/*
 * The MIT License
 * Copyright (c) 2012 Matias Meno <m@tias.me>
 */
@-webkit-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }

@-moz-keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }

@keyframes passing-through {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30%, 70% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px); } }

@-webkit-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@-moz-keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@keyframes slide-in {
  0% {
    opacity: 0;
    -webkit-transform: translateY(40px);
    -moz-transform: translateY(40px);
    -ms-transform: translateY(40px);
    -o-transform: translateY(40px);
    transform: translateY(40px); }
  30% {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px); } }

@-webkit-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@-moz-keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

@keyframes pulse {
  0% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); }
  10% {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1); }
  20% {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1); } }

/* line 1398, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone, .dropzone * {
  box-sizing: border-box; }

/* line 1401, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone {
  min-height: 150px;
  border: 2px solid rgba(0, 0, 0, 0.3);
  background: white;
  padding: 20px 20px; }

/* line 1406, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.dz-clickable {
  cursor: pointer; }

/* line 1408, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.dz-clickable * {
  cursor: default; }

/* line 1410, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
  cursor: pointer; }

/* line 1412, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.dz-started .dz-message {
  display: none; }

/* line 1414, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.dz-drag-hover {
  border-style: solid; }

/* line 1416, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone.dz-drag-hover .dz-message {
  opacity: 0.5; }

/* line 1418, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-message {
  text-align: center;
  margin: 2em 0; }

/* line 1421, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview {
  position: relative;
  display: inline-block;
  vertical-align: top;
  margin: 16px;
  min-height: 100px; }

/* line 1427, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview:hover {
  z-index: 1000; }

/* line 1429, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview:hover .dz-details {
  opacity: 1; }

/* line 1431, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-file-preview .dz-image {
  border-radius: 20px;
  background: #999;
  background: linear-gradient(to bottom, #eee, #ddd); }

/* line 1435, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-file-preview .dz-details {
  opacity: 1; }

/* line 1437, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-image-preview {
  background: white; }

/* line 1439, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-image-preview .dz-details {
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -ms-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear; }

/* line 1445, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-remove {
  font-size: 14px;
  text-align: center;
  display: block;
  cursor: pointer;
  border: none; }

/* line 1451, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-remove:hover {
  text-decoration: underline; }

/* line 1453, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview:hover .dz-details {
  opacity: 1; }

/* line 1455, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-details {
  z-index: 20;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  font-size: 13px;
  min-width: 100%;
  max-width: 100%;
  padding: 2em 1em;
  text-align: center;
  color: rgba(0, 0, 0, 0.9);
  line-height: 150%; }

/* line 1468, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-details .dz-size {
  margin-bottom: 1em;
  font-size: 16px; }

/* line 1471, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-details .dz-filename {
  white-space: nowrap; }

/* line 1473, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-details .dz-filename:hover span {
  border: 1px solid rgba(200, 200, 200, 0.8);
  background-color: rgba(255, 255, 255, 0.8); }

/* line 1476, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) {
  overflow: hidden;
  text-overflow: ellipsis; }

/* line 1479, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-details .dz-filename:not(:hover) span {
  border: 1px solid transparent; }

/* line 1481, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-details .dz-filename span, .dropzone .dz-preview .dz-details .dz-size span {
  background-color: rgba(255, 255, 255, 0.4);
  padding: 0 0.4em;
  border-radius: 3px; }

/* line 1485, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview:hover .dz-image img {
  -webkit-transform: scale(1.05, 1.05);
  -moz-transform: scale(1.05, 1.05);
  -ms-transform: scale(1.05, 1.05);
  -o-transform: scale(1.05, 1.05);
  transform: scale(1.05, 1.05);
  -webkit-filter: blur(8px);
  filter: blur(8px); }

/* line 1493, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-image {
  border-radius: 20px;
  overflow: hidden;
  width: 120px;
  height: 120px;
  position: relative;
  display: block;
  z-index: 10; }

/* line 1501, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-image img {
  display: block; }

/* line 1503, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-success .dz-success-mark {
  -webkit-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: passing-through 3s cubic-bezier(0.77, 0, 0.175, 1); }

/* line 1509, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-error .dz-error-mark {
  opacity: 1;
  -webkit-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -moz-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -ms-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  -o-animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1);
  animation: slide-in 3s cubic-bezier(0.77, 0, 0.175, 1); }

/* line 1516, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
  pointer-events: none;
  opacity: 0;
  z-index: 500;
  position: absolute;
  display: block;
  top: 50%;
  left: 50%;
  margin-left: -27px;
  margin-top: -27px; }

/* line 1526, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-success-mark svg, .dropzone .dz-preview .dz-error-mark svg {
  display: block;
  width: 54px;
  height: 54px; }

/* line 1530, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-processing .dz-progress {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  -moz-transition: all 0.2s linear;
  -ms-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear; }

/* line 1537, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-complete .dz-progress {
  opacity: 0;
  -webkit-transition: opacity 0.4s ease-in;
  -moz-transition: opacity 0.4s ease-in;
  -ms-transition: opacity 0.4s ease-in;
  -o-transition: opacity 0.4s ease-in;
  transition: opacity 0.4s ease-in; }

/* line 1544, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview:not(.dz-processing) .dz-progress {
  -webkit-animation: pulse 6s ease infinite;
  -moz-animation: pulse 6s ease infinite;
  -ms-animation: pulse 6s ease infinite;
  -o-animation: pulse 6s ease infinite;
  animation: pulse 6s ease infinite; }

/* line 1550, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-progress {
  opacity: 1;
  z-index: 1000;
  pointer-events: none;
  position: absolute;
  height: 16px;
  left: 50%;
  top: 50%;
  margin-top: -8px;
  width: 80px;
  margin-left: -40px;
  background: rgba(255, 255, 255, 0.9);
  -webkit-transform: scale(1);
  border-radius: 8px;
  overflow: hidden; }

/* line 1565, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-progress .dz-upload {
  background: #333;
  background: linear-gradient(to bottom, #666, #444);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  width: 0;
  -webkit-transition: width 300ms ease-in-out;
  -moz-transition: width 300ms ease-in-out;
  -ms-transition: width 300ms ease-in-out;
  -o-transition: width 300ms ease-in-out;
  transition: width 300ms ease-in-out; }

/* line 1578, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-error .dz-error-message {
  display: block; }

/* line 1580, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview.dz-error:hover .dz-error-message {
  opacity: 1;
  pointer-events: auto; }

/* line 1583, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-error-message {
  pointer-events: none;
  z-index: 1000;
  position: absolute;
  display: block;
  display: none;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  border-radius: 8px;
  font-size: 13px;
  top: 130px;
  left: -10px;
  width: 140px;
  background: #be2626;
  background: linear-gradient(to bottom, #be2626, #a92222);
  padding: 0.5em 1.2em;
  color: white; }

/* line 1604, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.dropzone .dz-preview .dz-error-message:after {
  content: '';
  position: absolute;
  top: -6px;
  left: 64px;
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 6px solid #be2626; }

/* line 1616, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
[angular-ripple] {
  position: relative;
  overflow: hidden; }

/* line 1620, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.angular-ripple {
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  transform: scale(0); }

/* line 1627, /Users/bradfordfarmer/Zend/workspaces/DefaultWorkspace/reviewGuru/css/styles.scss */
.angular-ripple.animate {
  animation: ripple 0.35s linear; }

@keyframes ripple {
  100% {
    opacity: 0;
    transform: scale(2.5); } }

/*# sourceMappingURL=styles.css.map */