<html>
    <head>
        <meta charset="utf-8">
        <link rel="apple-touch-icon" sizes="57x57" href="/apple-touch-icon-57x57.png">
        <link rel="apple-touch-icon" sizes="60x60" href="/apple-touch-icon-60x60.png">
        <link rel="apple-touch-icon" sizes="72x72" href="/apple-touch-icon-72x72.png">
        <link rel="apple-touch-icon" sizes="76x76" href="/apple-touch-icon-76x76.png">
        <link rel="apple-touch-icon" sizes="114x114" href="/apple-touch-icon-114x114.png">
        <link rel="apple-touch-icon" sizes="120x120" href="/apple-touch-icon-120x120.png">
        <link rel="apple-touch-icon" sizes="144x144" href="/apple-touch-icon-144x144.png">
        <link rel="apple-touch-icon" sizes="152x152" href="/apple-touch-icon-152x152.png">
        <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon-180x180.png">
        <link rel="icon" type="image/png" href="/favicon-32x32.png" sizes="32x32">
        <link rel="icon" type="image/png" href="/favicon-194x194.png" sizes="194x194">
        <link rel="icon" type="image/png" href="/favicon-96x96.png" sizes="96x96">
        <link rel="icon" type="image/png" href="/android-chrome-192x192.png" sizes="192x192">
        <link rel="icon" type="image/png" href="/favicon-16x16.png" sizes="16x16">
        <link rel="manifest" href="/manifest.json">
        <meta name="msapplication-TileColor" content="#2b5797">
        <meta name="msapplication-TileImage" content="/mstile-144x144.png">
<meta name="theme-color" content="#ffffff">
        <meta name="viewport" content="width=device-width, initial-scale=.8, user-scalable=no">
        <meta name="description" content="Review Gurus">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-route.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-animate.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-sanitize.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.0-beta.6/angular-resource.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <script type="text/javascript" src="js/ionic.js"></script>
        <script type="text/javascript" src="js/angular-ui-router.js"></script>
         <script type="text/javascript" src="js/ionic-angular.js"></script>
        <script type="text/javascript" src="js/tbd.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
         <script src="js/underscore-min.js"></script>
       <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
            <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"> 
       <link href="css/style.css" media="screen" rel="stylesheet" type="text/css">
       <link href="css/ionicons.min.css" media="screen" rel="stylesheet" type="text/css">
       <link href="css/ionic.css" media="screen" rel="stylesheet" type="text/css">
    </head>
    
    <body ng-app="reviewApp" ng-controller="reviewController"> 
<!-- Go to www.addthis.com/dashboard to customize your tools -->
<script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5512e9d71de14985" async="async"></script>

       
<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed pure-g-r">
        <div class="pure-u-1" ng-show="accessList">
            <img src="images/reviewImage.png">
            <span style="float:right;">
        <ul class="pure-menu-list">
            
             <li  ng-repeat="access in accessList"   ng-class="isActive(access.link)" class="pure-menu-item"><a href="#/{{access.link}}" class=" pure-menu-link ">  {{access.name}}</a> 
               </li>  
       
            <li class=" pure-menu-item "> 
                <label class="item item-input">
                   <a ng-href="#/search?game={{search}}"> <i class="icon ion-search placeholder-icon" ></i> </a>
                    <input type="text" ng-model="search" placeholder="Search" style="padding-left:20px">
                </label>
             </li>
                 <li class=" pure-menu-item pure-menu-has-children pure-menu-allow-hover" > 
                <a class="button icon ion-ios-cog-outline"></a>
                <ul class="pure-menu-children" style="left:-30px">
                    <li class="pure-menu-item"><a href="#/blog" class="pure-menu-link">Blog</a></li>
                     <li class="pure-menu-item"><a href="#/contact" class="pure-menu-link">Contact</a></li>
                    
                     <li class="pure-menu-item"><a ng-click="logout()" class="pure-menu-link">Sign Out</a></li>
                </ul>
            </li>
                </ul>
            </span>
        </div>
         
         <div class="pure-u-1" ng-hide="accessList"> 
            <img src="images/reviewImage.png">
         
            
            <span style="float:right;">  
                <button class='pure-button pure-button-primary' ng-click ='signUpModal()' > Signup </button>
                <button class='pure-button pure-button-primary' ng-click ='signInModal()' > Login  </button>   
            </span>
               
       
  

          
             </div>           
       
           
            
       
            
    
        </div>
        
</div>

            
 </div>
       
   
                <ng-view class="slide-left-right"></ng-view>

        
       
    <div class="footer">
     
          <div class="pure-u-1 is-center"> 
        Copyright ReviewGuru &copy; 2015-
        <a href="#/faqs">FAQs</a>-
        <a href="#/contact">Contact</a>- 
        <a href="#/blog"> Blog</a> 
              <p/>
 Game search powered by  <a href="giantbomb.com"> Giant bomb</a>
              </div>
</div>
    </body>
</html>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-60567252-1', 'auto');
  ga('send', 'pageview');


</script>