<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=.8, user-scalable=no">
        <meta name="description" content="Review Gurus">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-route.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-animate.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-sanitize.js"></script>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular-resource.js"></script>
        <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
        <script type="text/javascript" src="js/ionic.js"></script>
        <script type="text/javascript" src="js/angular-ui-router.js"></script>
        <script type="text/javascript" src="js/ionic-angular.js"></script>
        <script type="text/javascript" src="js/metacriticgrabber.js"></script>
        <script src="https://cdn.socket.io/socket.io-1.1.0.js"></script>
        <script src="http://crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/sha3.js"></script>
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
        <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css"> 
        <link href="css/output.css" media="screen" rel="stylesheet" type="text/css">
        <link href="css/ionicons.min.css" media="screen" rel="stylesheet" type="text/css">
        <link href="css/ionic.css" media="screen" rel="stylesheet" type="text/css">
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.2/jquery.min.js"></script>
        <script src="http://jquery-csv.googlecode.com/git/src/jquery.csv.js"></script>
        <script>
          $(document).ready(function() {
            if(isAPIAvailable()) {
             //('#files').bind('change', handleFileSelect);
            }
          });

          function isAPIAvailable() {
            // Check for the various File API support.
            if (window.File && window.FileReader && window.FileList && window.Blob) {
              // Great success! All the File APIs are supported.
              return true;
            } else {
              // source: File API availability - http://caniuse.com/#feat=fileapi
              // source: <output> availability - http://html5doctor.com/the-output-element/
              document.writeln('The HTML5 APIs used in this form are only available in the following browsers:<br/>');
              // 6.0 File API & 13.0 <output>
              document.writeln(' - Google Chrome: 13.0 or later<br/>');
              // 3.6 File API & 6.0 <output>
              document.writeln(' - Mozilla Firefox: 6.0 or later<br/>');
              // 10.0 File API & 10.0 <output>
              document.writeln(' - Internet Explorer: Not supported (partial support expected in 10.0)<br/>');
              // ? File API & 5.1 <output>
              document.writeln(' - Safari: Not supported<br/>');
              // ? File API & 9.2 <output>
              document.writeln(' - Opera: Not supported');
              return false;
            }
         }
         function handleFileSelect(evt){
            var files = evt.target.files; // FileList object
            var file = files[0];
            var output = ''
                output += '<span style="font-weight:bold;">' + escape(file.name) + '</span><br/>\n';
                output += ' - FileType: ' + (file.type || 'n/a') + '<br/>\n';
                output += ' - FileSize: ' + file.size + ' bytes<br/>\n';
                output += ' - LastModified: ' + (file.lastModifiedDate ? file.lastModifiedDate.toLocaleDateString() : 'n/a') + '<br />\n';
            // read the file contents
            printTable(file);
            // post the results
            $('#list').append(output);
        }
        </script>
    </head>
<body ng-app="reviewApp" ng-controller="dataparserController">  
     <div id=inputs class=clearfix>
        <input type=file id=files name=files[] multiple onchange="angular.element(this).scope().uploadImage(this.files)"/>
     </div>
     <hr/>
     <output id=list>
     </output>
     <p/>
     <input type="text" ng-model='bombid' placeholder="bombid"> 
     <input type="text" ng-model='gameid' placeholder="gameid"> 
     <buttton class="button button-stable" ng-click="updateGamePlatforms()"> 
         addgamewithid 
     </buttton>
     
</body>
