<md-dialog class="modalAdder">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="title"> New Confidant  </h1>
            <span flex></span>
            <md-button ng-click="closeModal()">x</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
    <div class="click panel circle pure-u-1-8" ng-class="canFlip">

     <div class="front" >
        <div class="circleLogo"> <p/>Find a Confidant</div>
        <div class="list" ng-hide="confidantSelected">
            <div class="item item-divider">
                <form ng-submit="findConfidant(searchRequirements)">
                    <md-dialog-content>
                         <label class="item item-input">
                            Search
                         </label>
                         <input type="text" ng-model="searchRequirements">
                         <md-button type="submit" class="button button-small" >
                            Search
                         </md-button>
                    </md-dialog-content>
                </form>
            </div>
        </div>
    </div>
    <div class="back postive" >
        <div class="list moveupby10" ng-show="confidantSelected">
            <div class="game_header">
              <div class="pure-u-19-24 game_name">
                <md-button ng-click="goback()"> &lang; back</md-button>
                 {{newConfidant.name}}
              </div>
            </div>

              <div class="game_recomendation tall">
                <div class="game_recomendation_text ">
                     <button ng-click="addConfidant()" class="button  button-modal">Add Confidant +</button>
                    <p/>
                    <span> Games reviewed: {{newConfidant.reviews}}</span>
                    <p/>
                    <span> Confidant to: {{newConfidant.confidantCount}}</span> users
                    <p/>
                    <span ng-show="confidant.site">Site:{{newConfidant.site}}</span>
                    <p/>
                    <span ng-show="confidant.stream">Stream:{{newConfidant.stream}} </span>
                </div>
        </div>
            </div>
    </div>
    </div>
    <div class=" modalSelectionArea">
        <div ng-show="isLoadingAdder"> Loading .... </div>
        <div ng-hide="isLoadingAdder">
             <a class="item item-avatar" ng-repeat="aConfidant in confidantsFound" ng-click="selectConfidant(aConfidant);">
              <img class="smalllogo" ng-src="{{aConfidant.picture}}">
              <h2>{{aConfidant.name}}</h2>
            </a>
            <span ng-show="noneFound"> <h2> No users found </h2></span>
        </div>
    </div>
    </md-dialog-content>
</md-dialog>
