<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="title"> New Game </h1>
            <span flex></span>
            <md-button ng-click="closeModal()">x</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
    <div class="click panel circle pure-u-1-8" ng-class="canFlip"  >
         <div class="front">
             <div class="circleLogo"> <p/>Find a Game</div>
            <div class="list" ng-hide="gameSelected">
                <div class="item item-divider">
                    <form ng-submit="searchForAGame(searchRequirements)">
                        <md-input-container>
                        <label class="item item-input">
                             Search
                        </label>
                        <input type="text"  ng-model="searchRequirements">
                        </md-input-container>
                         <md-button type="submit" class="button button-small" >
                            Search
                         </md-button>
                    </form>
                </div>
            </div>
        </div>
        <div class="back" ng-class="convertAverageClass(newgame.userInfo.rating)">
            <div class="list moveupby10" ng-show="gameSelected">
                <div class="game_header">
                    <div class="pure-u-19-24 game_name">
                        <md-button  ng-click="goback()"> &lang; back</md-button>    {{newgame.giantBombinfo.game_name}}
                    </div>
                </div>
                <img ng-src="">
                <div class="game_recomendation medium ">
                    <div class="game_recomendation_text ">
                        {{newgame.giantBombinfo.description}}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modalSelectionArea">
        <div ng-show="isLoadingAdder"> Loading .... </div>
        <div ng-hide= "isLoadingAdder || gameSelected">
         <a class="item item-avatar" ng-repeat="game in gamesfound" ng-click="addGameToLibrary(game);">
          <img ng-src="{{game.image.icon_url}}">
          <h2>   {{game.name}}</h2>
        </a>
        </div>
        <form class="pure-form"  ng-submit="saveGame()" ng-show="gameSelected">
            <br/>
            <div class="">
                Select a phrase that best describes your thoughts about the game:
            </div>
            <md-select ng-model="newgame.userInfo.rating">
               <md-option value="1">Pretty much unplayable</md-option>
               <md-option value="2">Bad but playable in a pinch</md-option>
               <md-option selected value="3">A fairly average game</md-option>
               <md-option value="4">Good game with some minor flaws</md-option>
               <md-option value="5">A nearly flawless gameplay experience</md-option>
            </select>
           <fieldset class="pure-group" >
                <textarea class="pure-input-1" height="100px" placeholder="Enter an optional review of the game this will be used to help your peers" ng-model ="newgame.userInfo.description"></textarea>
            </fieldset>
            <div class="button-bar">
              <md-button type="submit"> Save </md0button>
            </div>
        </form>

    </div>
    </md-dialog-content>
</md-dialog>
