<ion-modal-view class="modalAdder">
    <ion-header-bar>
        <h1 class="title"> New Game </h1> 
        <button class="button button-clear button-assertive" ng-click="closeModal()">x</button>
    </ion-header-bar>  
    <div class="click panel circle pure-u-1-8" ng-class="canFlip"  >
    
     <div class="front" >   
         <div class="circleLogo"> <p/>Find a Game</div>
        <div class="list" ng-hide="gameSelected">
            <div class="item item-divider">
                <form ng-submit="searchForAGame(searchRequirements)"> 
                 <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="searchRequirements">     
                 </label>    
                 <button type="submit" class="button button-small" >
                    Search 
                 </button>
                    </form>
            </div>
                
        </div>
    </div>
        <div class="back" ng-class="convertAverageClass(newgame.userInfo.rating)"  > 
        <div class="list moveupby10" ng-show="gameSelected">
     
         <div class="game_header">
          <div class="pure-u-19-24  game_name">
               <button class="button button-small button-modal" ng-click="goback() "> back</button>    {{newgame.giantBombinfo.game_name}}
             </div>
        
        </div>
 
              <img ng-src="">
             
              <div class="game_recomendation tall">
                  <div class="game_recomendation_text ">
                {{newgame.giantBombinfo.description}}
        </div>
        </div>
            </div>
        </div>
    </div>
    <div class=" modalSelectionArea"> 
                <div ng-show="isLoadingAdder"> Loading .... </div>
                <div ng-hide= "isLoadingAdder || gameSelected"> 
                 <a class="item item-avatar" ng-repeat="game in gamesfound" ng-click="addGameToLibrary(game);">
                  <img ng-src="{{game.image.icon_url}}">
                  <h2>   {{game.name}}</h2>
                </a>
                </div>
        <form class="pure-form"  ng-submit="saveGame()" ng-show="gameSelected">
            
            <br/>
            <div class="">
                Select a phrase that best describes your thoughts about the game:
                
            </div>
            <select ng-model="newgame.userInfo.rating">
               <option value="1">Pretty much unplayable</option>
               <option value="2">Bad but playable in a pinch</option>
               <option selected value="3">A fairly average game</option>
               <option value="4">Good game with some minor flaws</option>
               <option value="5">A nearly flawless gameplay experience</option>
                
            </select>
           <fieldset class="pure-group" >
            <textarea class="pure-input-1" height="100px" placeholder="Enter an optional review of the game this will be used to help your peers" ng-model ="newgame.userInfo.description"></textarea>
    </fieldset>

        <div class="button-bar">
          <button class="button button-modal"type="submit"> Save </button> 
        </div>
           </form>  
        
    </div>
    
</ion-modal-view>
