<ion-modal-view>
    <ion-header-bar>
        <h1 class="title"> New Game </h1> 
        <button class="button button-clear button-assertive" ng-click="closeModal()">x</button>
    </ion-header-bar>
    <ion-content>
        
        <div class="list" ng-hide="gameSelected">
            <div class="item item-divider">
                 <label class="item item-input">
                    <i class="icon ion-search placeholder-icon"></i>
                    <input type="text" placeholder="Search" ng-model="searchRequirements">     
                 </label>    
                 <button class="button button-small" ng-click="searchForAGame(searchRequirements)">
                    Search 
                 </button>
            </div>
            <div ng-show="isLoading"> Loading .... </div>
            <span ng-hide= "isLoading"> 
             <a class="item item-avatar" ng-repeat="game in gamesfound" ng-click="addGameToLibrary(game)">
              <img ng-src="{{game.image.icon_url}}">
              <h2>{{game.name}}</h2>
            </a>
            </span>
        </div>
        <div class="list" ng-show="gameSelected">
       <button class="button  icon ion-arrow-left-a" ng-click="goback() "> back</button>
        <p/>
            <ul class="list">
                 <li class="item item-avatar item-divider">
          
              <img ng-src="{{newgame.giantBombinfo.image.icon_url}}">
              <h2>{{newgame.giantBombinfo.name}}</h2>
            </li>
             <li class="item">
            <div class="input-label">
                How much did they enjoy this game on a 1-5 scale( up to 3 sig figs)
            </div>
           
             <input type="text" ng-model="newgame.userInfo.rating"></input>
           
                </li>
                            <li class="item">
            <div class="input-label">
                What was their actual enjoyment value
            </div>
            <input type="text" ng-model="newgame.userInfo.true_score"></input>
                </li>
            <li class="item">
            <div class="input-label">
                What was their score out of
            </div>
            <input type="text" ng-model="newgame.userInfo.true_score_max"></input>
                </li>
            <li class="item">
            <div class="input-label">
                Where is their review located
            </div>
            <input type="text" ng-model="newgame.userInfo.review_link"></input>
            </li>
     </ul>
        <div class="button-bar">
            <a class="button button-modal" ng-click="saveGame()"> Save </a> 
        </div>
            
        </div>
        
    </ion-content>
</ion-modal-view>
