<div class="pure-g-r addedMargin" >
    <div class="pure-u-1 is-center">
        First Post - March 26th, 2015
    </div>
    <div class="pure-u-1-4">
        <div class="click panel circle">
            <div class="front" >
                <div class="circleLogo"> <h2>Review<p/> Kai</h2></div>
                <p/> click to reveal
            </div>
            <div class="back" ng-class="convertAverageClass(game.details.avgscore)" > 

            </div>
        </div>
    </div>
    <div class="pure-u-2-3"> 
        Review Kai is offically in beta we are  looking for feedback on how to improve the experience.
        You can contact me at bchaos.bchaos@gmail.com
    </div>
</div>