
<div class="splash-container-dashboard " >
    <div class="splash-dashboard">
        <h1 class="splash-head ">Learn More  </h1>
        <p>
<div class="pure-u-1">
    <div class="content">
        <h2 class="content-head is-center"> First Post - March 26th, 2015</h2>

       

    <div class="pure-u-1-2">
        <div class="click panel circle">
            <div class="front" >
                <div class="circleLogo"> <h2>Release Notes</h2></div>
            </div>
            <div class="back"  > 

            </div>
        </div>
    </div>
    <div class="pure-u-1-3"> 
       This is the first release of Review Kai version .512alpha.
    </div>
</div>
</div>
    </div>
</div>