<div class="click panel circle hideMobile" ng-class="canFlip" ng-init="canFlip=''" ng-click ="canFlip='flip'">
	<div class="front" >
		<div class="circleLogo"> <img src="images/logo.png"></div>
        <p/> click to reveal
	</div>
	<div class="back" ng-class="convertAverageClass(game.guruscore,game.peerscore)" >
        <div class="game_image" ng-style="getGameStyle(game.game_picture)"> 
           
        </div>
         <div class="game_header" >
          <div class=" game_name" >

              <div flex> {{game.game_name}} </div>
              <md-button class="md-fab infoIcon" ng-click='showGameDescription(game.giantBomb_id,game.game_name, game.game_picture,$event)'>
                   <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                 </md-button>
             </div>

        <div class="game_recomendation">
            <div class="game_recomendation_text"> 
           <md-button ng-click="getGuruDetails(game.id ,$event)" class="probuttons" ng-show="game.guruscore">
              <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon> <span class="spacer16"></span>     Pros say:{{convertRating(game.guruscore)}}   <span ng-hide="game.guruscore">TBD  </span>   </md-button>
            <p/>
           <md-button  ng-click="getPeerDetails(game.id ,$event)" class="probuttons"  ng-show="game.peerscore">
                  <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon> <span class="spacer16"></span>     Peers say:{{convertRating(game.peerscore)}} <span ng-hide="game.peerscore ">TBD </span>
                </md-button>
            </div>
        </div>
	</div>
</div>
</div>


<div class="pure-u-1 game_mobile mobilePanel flipable hideDesktop" ng-class="canFlip" ng-init="canFlip=''" ng-click ="canFlip='flip'" >
    <div class="front" >
        <div class="mobileLogoPos"> 
		<img src="images/logo.png" class="logoLarge"><br/>
        click to reveal
            </div>
	</div>
    <div class="back" ng-class="convertAverageClass(game.guruscore,game.peerscore)">
        <div layout="row" >
    <div flex="40" class="game_image mobile" ng-style="getGameStyle(game.game_picture)">

    </div>
    <div class="game_recomendation_text mobile">
        <div layout="column">
        <div>
            <md-button ng-click='showGameDescription(game.giantBomb_id,game.game_name, game.game_picture,$event)'  class="game_name mobile">

                {{game.game_name}}

                   <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                 </md-button>
            </md-button>
            </div>
        <div>

                 <md-button  class="mobileText"  ng-click="getGuruDetails(game.id ,$event)" >
                      <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon> <span class="spacer16"></span>   Pros say: <span ng-show="game.guruscore"> {{convertRating(game.guruscore)}}
                     </span> <span ng-hide="game.guruscore">TBD  </span>

                 </md-button>
        </div>

                <div>
                   <md-button  class="mobileText"  ng-click="getPeerDetails(game.id ,$event)">
                  <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon> <span class="spacer16"></span>      Peers say:<span ng-show="game.peerscore"> {{convertRating(game.peerscore)}} <  </span><span ng-hide="game.peerscore ">TBD </span>
                   </md-button>
        </div>
        </div>
    </div></div>
    </div>
</div>
