<div class="click panel circle hideMobile flip" >
	<div class="back postive ">
        <a  href="#/{{confidant.name}}">
        <div class="game_image confidant" ng-style="getGameStyle('userimages/'+confidant.picture)">

        </div>
        </a>
        <div class="game_header ">

            {{confidant.name}}

        </div>

        <div class="game_recomendation confidant">
            <div class="game_recomendation_text">
                {{confidant.name}} has reviewed {{confidant.reviews}} games and is a confidant to {{confidant.confidantCount}}  users
             <p/>
                   <span ng-show="confidant.site">
                        <a href="{{confidant.site}}" target="_blank">
                  <md-button>
                   Site
                 </md-button>
                       </a>
                     </span>
                <span ng-show="confidant.stream">
                    <a href="{{confidant.stream}}" target="_blank">
                 <md-button>
                   Stream
                 </md-button>
                        </a>
                </span>
            </div>
        </div>
	</div>
</div>
<div class="game_mobile hideDesktop postive">
    <div layout="row">
        <a href="#/{{confidant.name}}">
            <div flex="40" class="game_image mobile" ng-style="getGameStyle('userimages/'+confidant.picture)">
            </div>
        </a>
        <div class="game_recomendation_text mobile">
            <md-list>
                <md-list-item >
                    <a href="#/{{confidant.name}}">
                        <md-button>
                            <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                            {{confidant.name}}
                        </md-button>
                    </a>
                </md-list-item>
                <md-list-item>
                    <md-list-item-text class="md-3-line maxwidth">
                        Games Reviewed: {{confidant.reviews}}
                    </md-list-item-text>
                </md-list-item>

                <md-list-item>
                    <md-list-item-text class="md-3-line maxwidth">
                        Confidant to: {{confidant.confidantCount}}
                    </md-list-item-text>
                </md-list-item>
                <span ng-show="confidant.site">
                    <a href="{{confidant.site}}" target="_blank">
                      <md-button>
                       Site
                     </md-button>
                    </a>
                </span>
                <span ng-show="confidant.stream">
                    <a href="{{confidant.stream}}" target="_blank">
                     <md-button>
                       Stream
                     </md-button>
                    </a>
                </span>
            </md-list>
        </div>
    </div>
</div>
