<div class="pure-u-1" ng-hide ="isLoading">
    <div class="splash-container-dashboard">
        <div class="splash-dashboard">
            <h1 class="splash-head">
                <div class="pure-g-r pure-u-1">
                    <div class="pure-u-1 movedown">
                        <span class="username">My</span> Confidants
                        <p class="splash-subhead confidants">
                         Gamers who opinions you trust
                        </p>
                    </div>
                </div>
            </h1>
            <p/>
            <span>
                 <div class="" ng-repeat="confidant in myConfidants">
                    <confidantcard></confidantcard>
                </div>
            </span>
            <span ng-hide="myConfidants"> 
                Click the plus symbol at the bottom of the screen to search for a confidant.
            </span>
        </div>
    </div>
</div>
<md-button ng-hide ="isLoading" ng-click ="showConfidantAdder($event)" class="fabarea md-fab" aria-label="add confidant">
        <md-icon md-svg-src="images/ic_add_circle_outline_black_24px.svg"></md-icon>
</md-button>

<div class="pure-g-r addedMargin" ng-show ="isLoading">
    <searching text="Loading"> </searching>
</div>
