<div class="splash-container-dashboard " >
    <div class="splash-dashboard">
        <h1 class="splash-head ">Contact Us </h1>
        <p>
           <div class="pure-u-15-24">
       <div class="click panel circle" ng-class='contact' >
            <div class="front" ng-click ='contact="flip"'>
                <div class="circleLogo"> 
                    Drop us a line
                </div>
            </div>
            <div class="back postive"   > 
                <div class="game_recomendation">
                    <div class="game_recomendation_text">
                    You can contact us at admin@reviewKai.com
                    </div>
                </div>
            </div>
        </div>
        </div>
        <div class="pure-u-7-24 primaryOrange">
       
             <div class="pure-u-1">
                Find us on  social media at: <p/>
            <a href="https://twitter.com/ReviewKai">
                <img src="images/twitterLogo.png" class="logo">
            </a>
           
            <a href="http://www.reddit.com/r/ReviewKai">
                <img src="images/reddit-alien.png" class="logo">
            </a>
            <a href="https://www.facebook.com/ReviewKai">
                <img src="images/FB-f-Logo__blue_72.png" class="logo">
            </a>
           
            <a href="https://plus.google.com/u/0/118345476050457184699/about">
                <img src="https://www.gstatic.com/images/icons/gplus-64.png" class="logo">
            </a>
            <a href="https://instagram.com/reviewkai/">
                <img src="images/Instagram_Icon_Large.png" class="logo">
            </a>
    </div>
        </div>
 </div>
</div> 
