
<div class="splash-container-dashboard " >
    <div class="splash-dashboard">
        <h1 class="splash-head ">Contact Us </h1>
        <p>
       <div class="click panel circle" ng-class='contact' >
            <div class="front" ng-click ='contact="flip"'>
                <div class="circleLogo"> Bradford Farmer<p/> Head Programmer</div>
            </div>
            <div class="back postive"   > 
                 <div class="game_recomendation">
                  <div class="game_recomendation_text">
                 You can contact the creator and founder of Review Kai Bradford Farmer  at bchaos.bchaos@gmail.com
                </div>
                </div>
            </div>
        </div>
        </p>
 </div>
</div> 
