<div class="splash-container-dashboard addedMargin " ng-show ="recentGames">
    <div class="splash-dashboard">
        <h1 class="splash-head ">New recomendations for you </h1>

        <p>
        <div class ="pure-g-r"> 
         
             <div ng-repeat="game in recentGames | limitTo: 9"> 
                  <card ></card>
            </div>
        </div>
        </p>
 </div>
</div>
<div class="splash-container"  ng-hide ="recentGames">
    <div class="splash">
        <h1 class="splash-head">Let's get Started</h1>
        <p class="splash-subhead">
          Look below for steps on how to get started.
        </p>

    </div>
</div>

<div class="content-wrapper" ng-hide ="recentGames" >
    <div class="content">
        <h2 class="content-head is-center">Getting started</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-gamepad"></i>
                    Add games to your library
                </h3>
                <p>
                   Using the libarary tab at the top add a few games you liked and disliked to your library. You can include  reviews to allow others to get a better idea of what games to get or avoid
                </p>
               <a href="#/library"><button class="button button-primary"> Library </button></a> 
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-dot-circle-o"></i>
                   Matching you 
                </h3>
                <p>
                   Review Kai will magically match you with Pro reviewers and your peers and will create a library of personal Recomendations
                </p>
                <a href="#/guru"><button class="button button-primary"> Personal Reviews </button></a> 
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-search-plus"></i>
                    Searching for a game
                </h3>
                <p>
                  You can also search for a game using the search bar at the top or below 
                </p>
                 <label class="item item-input" >
            <i class="icon ion-search placeholder-icon" ></i>
            <input type="text" ng-model="search" placeholder="Search for a game">
        </label> 
            <a ng-href="#/search?game={{search}}">
   <button class="pure-button pure-button-primary" >
                Search 
        </button> 
</a>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-users"></i>
                   Constalty updating  
                </h3>
                <p>
                   As you add more games to your library the better the pros and peers can understand you and the better recomendations they will give. 
                </p>
            </div>
        </div>
    </div>

    <div class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
           
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Review Kai </h2>

            <p>
                Review Kai is deticated to helping you find the best games for you.
                <br/>
                Review Kai search is powered by<a href="giantbomb.com">Giant Bomb </a> 
                <br/> 
            </p>
        </div>
    </div>
</div>