<div class="splash-container-dashboard " ng-show ="recentGames && !isLoading" >
    <div class="splash-dashboard">
        <h1 class="splash-head ">New recomendations </h1>
        <p>
        <div class ="pure-g-r"> 
             <div ng-repeat="game in recentGames | limitTo: 9"> 
                  <card ></card>
            </div>
        </div>
        </p>
 </div>
</div>
<div class="pure-g-r addedMargin" ng-show = "isLoading">
    <searching text="Searching"> </searching>
</div>
<div class="pure-u-1"  ng-hide ="recentGames||isLoading">
    <div class="splash">
        <h1 class="splash-head">
            Let's get Started
        </h1>
        <p class="splash-subhead">
          Look below for steps on how to get started.
        </p>
    </div>
</div>

<div class="pure-u-1 " ng-hide ="recentGames||isLoading">
    <div class="content">
        <h2 class="content-head is-center">Getting started</h2>
        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-gamepad"></i>
                    Add games to your library
                </h3>
                <p>
                    Using the libarary tab at the top add a few games you liked and disliked to your library. You can include  reviews to allow others to get a better idea of what games to get or avoid
                </p>
                <a href="#/library">
                   <button class="button button-primary"> Library </button>
                </a> 
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-dot-circle-o"></i>
                   Matching you 
                </h3>
                <p>
                   Review Kai will magically match you with Pro reviewers and your peers and will create a library of personal Recomendations
                </p>
                <a href="#/guru"><button class="button button-primary"> Personal Reviews </button></a> 
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-search-plus"></i>
                    Searching for a game
                </h3>
                <p>
                    You can also search for a game using the search bar at the top or below 
                </p>
                <label class="item item-input" >
                    <i class="icon ion-search placeholder-icon" ></i>
                    <input type="text" ng-model="search" placeholder="Search for a game">
                </label> 
                <a ng-href="#/search?game={{search}}">
                    <button class="pure-button pure-button-primary" >
                        Search 
                    </button> 
                </a>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-users"></i>
                   Continuously  updating  
                </h3>
                <p>
                   As you add more games to your library the better the pros and peers can understand you and the better recomendations they will give. 
                </p>
            </div>
        </div>
    </div>
</div>