<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="title">{{gamedetails.game_name}} </h1>
             <span flex></span>
            <md-button ng-click="closeLibraryDetails()">x</md-button>
        </div>
    </md-toolbar>
    <md-dialog-content>
        <div class="pure-g-r " style="margin-top: 10px;"> 
            <div class="pure-u-11-24">
                <img ng-src="{{gamedetails.game_picture}}" width="100%">
            </div>
            <div class="pure-u-1-2">
                Review: {{gamedetails.description}}
                <p/>
            </div>
        </div>
    </md-dialog-content>
</md-dialog>
