<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h1 class="title"> Edit Game </h1>
             <span flex></span>
            <md-button ng-click="closeEdit()">x</md-button>
        </div>
    </md-toolbar>
   <md-dialog-content>
            <h2 class="md-title"> Thoughts about: <span class="editHeader" ng-class="convertAverageClass(edit.rating)"> {{edit.game_name}}</span></h2>

            <md-select placeholder="Enjoyment Value" ng-model="edit.rating">
               <md-option value="1">Pretty much unplayable</md-option>
               <md-option value="2">Bad but playable in a pinch</md-option>
               <md-option  value="3">A fairly average game</md-option>
               <md-option value="4">Good game with some minor flaws</md-option>
               <md-option value="5">A nearly flawless gameplay experience</md-option>
            </md-select>

          <form class="pure-form">
            <md-input-container flex>
                <label>Additional thoughts</label>
                <textarea  placeholder="Enter an optional review of the game this will be used to help your peers" ng-model ="edit.description"></textarea>
              </md-input-container>
          </form>
       <md-button ng-click="updateGame()"> Save </md-button>
    </md-dialog-content>
</md-dialog>
