
<div class="pure-u-1">
    <div class="splash">
        <h1 class="splash-head">Review Kai</h1>
        <p class="splash-subhead">
           A personal approach to game reviews.
        </p>
        <p>
            <button class='pure-button pure-button-primary' ng-click ='signUpModal()' > Signup </button>

<button class='pure-button pure-button-primary' ng-click ='signInModal()' > Login  </button> 
         
        </p>
    </div>
</div>

<div class="pure-u-1">
    <div class="content">
        <h2 class="content-head is-center">About Review Kai</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-gamepad"></i>
                    Create a game Library
                </h3>
                <p>
                    Enter in some of the games you have played along with a quick rating.
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-dot-circle-o"></i>
                    Matching you
                </h3>
                <p>
                   Review Kai with work its magic to match you up to Professional reviews and other Review Kai memebers who have similar opinions of games that you have
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-search-plus"></i>
                    Reviews
                </h3>
                <p>
                  You can then browse the library of games that your matches have and see the what they had to say about these games. To find the perfect game just for you
                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-users"></i>
                    Your ratings and reviews 
                </h3>
                <p> Your ratings and reviews will be used to help others find their perfect game. You can also share your library with others.
                </p>
            </div>
        </div>
    </div>


