
<div class="pure-u-1" ng-hide =" isLoading">
    <div class="splash-container-dashboard "  >
    <div class="splash-dashboard">
        <h1 class="splash-head library" ng-show="myLibrary">
            <div class="pure-g-r pure-u-1">
            
            <div class="pure-u-1 movedown">
                  <div id="profileZone" class="dropzone" ng-show="editMode || updatedPicture"  ></div>
                <div class="userImageInLibrary " >
                    <img src="images/userimages/{{user.picture}}" class="userLibaryImage" ng-hide='editMode  || updatedPicture'>

                </div>
                 <div class="pure-u-6-8">

                    <span class="userHeaderName" ng-hide='editMode' ><span class="username">{{user.name}}'s </span> Library</span>

                </div><div class="pure-u-1">
                    <span class="smallText"> Site :
                        <a href="{{user.site}}" ng-hide="editMode" target="_blank">{{user.site}} </a>
                          <md-input-container   ng-show="editMode">
                        <input type="text" ng-model ="user.site">
                        </md-input-container>
                    </span>
                    <br/>
                    <span  class="smallText">  Stream :
                        <a ng-hide="editMode" href="{{user.stream}}" target="_blank">
                            {{user.stream}}
                        </a>
                         <md-input-container   ng-show="editMode">

                        <input type="text" ng-model ="user.stream" >
                        </md-input-container>
                    </span>
                    <br/>
                <div layout="row">
                  <div ng-show="localLibrary">
                        <md-button ng-click="toggleEditMode()" ng-hide='editMode'><i  class="ion-edit"></i> Edit </md-button>
                        <md-button ng-show="editMode" ng-click="toggleEditMode()"><i  class="ion-android-cancel"></i> Cancel  </md-button>
                        <md-button ng-show="editMode" ng-click="saveLibraryEdit()"><i  class="ion-android-done"></i> Save </md-button>

                      <md-button ng-hide='editMode' ng-click ="addNewGame($event)"> <img src="images/rkcardSmall.png" class="reallysmall"> Add </md-button>
                    </div>

                    <div ng-hide="editMode">

                      <md-button  aria-label="Import games from steam" ng-show ="localLibrary" ng-click ="importFromSteam($event)" ng-show="myLibrary">
                         <img class="smalllogo" src="images/Steam_Icon_2014.png"></img> <span class="logoText"></span>import
                     </md-button>

                </div>
                <md-content class="smallText" layout="row" ng-hide="editMode">
                    <md-select id="sort" ng-model="sort" ng-init="sort='-releasedate'"  placeholder="Sort By">
                        <md-option value="-releasedate" selected>Release Date </md-option>
                        <md-option value ="+game_name">Name </md-option>
                        <md-option value = "-{{scoreName}}">Recomendation </md-option>
                    </md-select>


                    <md-select id="sort" ng-model="currentPage" ng-init ="currentPage=0"  placeholder="Page" ng-change="setPage(currentPage)">
                        <md-option value ="{{page.number}}" ng-repeat="page in pages">{{page.number+1}} </md-option>
                    </md-select>
                </md-content>

                </div>

                </div>
            </div>
            </div>
        </h1>
        <h1 class="splash-head" ng-hide="myLibrary">
 <div class="pure-g-r pure-u-1">
            <img class="platformLarge"  src="images/platforms/{{currentPlatform}}/icon.png">
            </div>

          <md-content class="smallText" layout="row" ng-hide="editMode">
            <md-select id="sort" ng-model="sort" ng-init="sort='-releasedate'"  placeholder="Sort by">
                <md-option value="-releasedate" selected>Release Date </md-option>
                <md-option value ="+game_name">Name </md-option>
                <md-option value = "-{{scoreName}}">Recomendation </md-option>
            </md-select>


            <md-select id="sort" ng-model="currentPage" ng-init ="currentPage=0"  placeholder="Page" ng-change="setPage(currentPage)">
                <md-option value ="{{page.number}}" ng-repeat="page in pages">{{page.number+1}} </md-option>
            </md-select>


            <md-select placeholder="Platform" ng-change="setPlatform(display_name)" ng-model="display_name">
               <md-option value ="{{platform.display_name}}" ng-repeat="platform in platforms">
                    {{platform.display_name}}
                </md-option>
            </md-select>
        </md-content>
        </h1>


     <md-content style="height: 600px;">
        <section style="overflow-x:hidden">
    <span ng-show="myLibrary && localLibrary">
        <md-subheader class="md-primary">
            <div class="hideDesktop pure-u-1 game_mobile  gameAdder" ng-click ="addNewGame($event)">
               <span class="newGameAdder">+ New</span>
            </div>
        </md-subheader>
    </span>
   
    <div class="" ng-repeat="game in games | orderBy:sort | limitTo : itemsPerPage : newOffset " ng-init="newOffset=0">
        <librarycard ></librarycard>
    </div>
    </section>
        </md-content>
 </div>
</div>

</div>
<div class="addedMargin" ng-show ="isLoading && !NoLibraryError">
    <searching text="Loading"> </searching>
</div>

<div class="addedMargin" ng-show ="NoLibraryError">
   <h2> No Library Found</h2>
</div>
