<div class="click panel circle flip hideMobile " >
	<div class="back" ng-class="convertAverageLibraryClass(game.avgscore, game.rating, {{myLibrary}})" >

        <div class="game_image" ng-style="getGameStyle(game.game_picture)"> 
           
        </div>
         <div class="game_header" >
          <div class=" game_name" >

              <div flex class="trucatedName"> {{game.game_name}} </div>
              <md-button class="md-fab infoIcon" ng-click='showGameDescription(game.giantBomb_id,game.game_name, game.game_picture,$event)'>
                   <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                 </md-button>
             </div>
        </div>
        <div class="game_recomendation">
            <div class="game_recomendation_text"> 
                
                 <span ng-show="myLibrary">
                   <md-list>
                    <md-list-item-text class="md-3-line maxwidth">
                    <h3>My review: </h3>

                       <h4> {{convertMyRating(game.rating)}}</h4>
                       </md-list-item-text>
                     </md-list>


                                <md-button ng-click ="showEdit(game,$event)" ng-show="localLibrary"> Edit</md-button>
                                <md-button  ng-click ="showRemove(game,$event)" ng-show="localLibrary"> Remove</md-button>
                                <md-button ng-click ="getGameDetails(game,$event)" ng-hide="localLibrary"> Details</md-button>

                </span>
                
                <md-list ng-hide="myLibrary">
            <md-list-item class="md-3-line maxwidth" ng-click="getGuruDetails(game.id ,$event)">

              <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>

        <div class="md-list-item-text" >
           <h3>Pros say:</h3>
            <h4><span ng-show="game.guruscore"> {{convertRating(game.guruscore)}} </span>  <span ng-hide="game.guruscore">TBD  </span>
            </h4>
                </div>
               </md-list-item>
                 <md-list-item class="md-3-line maxwidth" ng-click="getPeerDetails(game.id ,$event)" >

                  <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>

                     <div class="md-list-item-text">
                   <h3>
                       Peers say:
                         </h3><span ng-show="game.peerscore"><h4>{{convertRating(game.peerscore)}} </span>

                         <span ng-hide="game.peerscore ">TBD </span></h4>
                     </div>
              </md-list-item>
</md-list>

            </div>
        </div>	
	</div>
</div>

<div class="game_mobile hideDesktop" ng-class="convertAverageLibraryClass(game.avgscore, game.rating, {{myLibrary}})">
    
<div layout="row"  >


    <div flex="40" class="game_image mobile" ng-style="getGameStyle(game.game_picture)">

    </div>
    <div class="game_recomendation_text mobile">
         <md-list>
            <md-list-item class="md-2-line maxwidth  largeText" ng-click='showGameDescription(game.giantBomb_id,game.game_name, game.game_picture,$event)'>
                  <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                {{game.game_name}}
            </md-list-item>
          <md-divider></md-divider>

       <md-list-item class="md-2-line maxwidth mobileText" ng-click="getGuruDetails(game.id ,$event)" >
                      <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>   Pros say: <span ng-show="game.guruscore"> {{convertRating(game.guruscore)}}
                     </span> <span ng-hide="game.guruscore">TBD  </span>

        </md-list-item >


                <md-list-item class="md-2-line maxwidth mobileText" ng-click="getPeerDetails(game.id ,$event)" >

                  <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon> Peers say:<span ng-show="game.peerscore"> {{convertRating(game.peerscore)}}   </span><span ng-hide="game.peerscore ">TBD </span>


       </md-list>
    </div></div>
</div>
