<div class="pure-g-r addedMargin">
    <div class="pure-u-1">
        <form class="pure-form gamefilter">
    <input  class="pure-input-2-3" ng-model="searchText" placeholder="Filter games">   
    <div class="pure-u-1-8">
                <select id="sort" ng-model="sort">
                    <option value="-releasedate">Release Date </option>
                    <option value="-added">Recently Reviewed </option>
                    <option value ="+game_name">Name </option>
                    <option value = "-{{scoreName}}">Recomendation </option>
                </select>
            </div>
            </form>
    </div>
     <span ng-show="myLibrary">
    <div class="ure-u-23-24 p pure-u-md-10-24 pure-u-lg-7-24"  >
        <div class="click panel circle ">
	<div class="front" >
		      <div class="circleLogo"  ng-click ="addNewGame()"> 
          <div class="gameadderbutton"> +</div>
      </div>
        <p/>
        Click to add a new 
	</div>
	<div class="back ">
    
		
	</div>
</div>
 
      </div>
        
    
    </span>
   
    <div class="pure-u-23-24   pure-u-md-10-24 pure-u-lg-7-24"   ng-repeat="game in games | filter:searchText | orderBy:sort ">
        <librarycard></librarycard>

    </div>
    </div>
    