<div class="click panel circle flip hideMobile">
	<div class="front" >
		<div class="circleLogo"> <h2>Review<p/> Kai</h2></div>
        <p/> click to reveal
	</div>
	<div class="back" ng-class="convertAverageLibraryClass(game.avgscore, game.rating, {{myLibrary}})" >
        <div class="game_header">
          <div class="pure-u-19-24  game_name">{{game.game_name}}</div>  
            <div class="pure-u-1-8" ng-click='showGameDescription(game.giantBomb_id,game.game_name, game.game_picture)'><a class="button  button-icon icon ion-ios-information-outline infobutton"></a></i></div>  
        </div>
        <div class="game_image" ng-style="getGameStyle(game.game_picture)"> 
           
        </div>
        
        <div class="game_recomendation">
            <div class="game_recomendation_text"> 
                
                 <span ng-show="myLibrary">My thoughts:
                   <span ng-style="colorForScore(game.rating)">{{convertMyRating(game.rating)}}
                     </span>  
                     <button class="button button-small button-assertive" ng-click ="showEdit(game)" ng-show="localLibrary"> Edit</button>
                     <button class="button button-small button-assertive" ng-click ="getGameDetails(game)" ng-hide="localLibrary"> Details</button>
                </span>
                
                <span ng-hide="myLibrary"> 
                Pros say: <span ng-show="game.guruscore" ng-style="colorForScore(game.guruscore)"> {{convertRating(game.guruscore)}} </span> <span ng-hide="game.guruscore">TBD  </span>  <button class="button button-small button-calm" ng-click="getGuruDetails(game.id)" ng-show="game.guruscore"> Details</button>
            <p/>
            Peers say:<span ng-show="game.peerscore" ng-style="colorForScore(game.peerscore)"> {{convertRating(game.peerscore)}}  </span><span ng-hide="game.peerscore ">TBD </span>  <button class="button button-small button-calm" ng-click="getPeerDetails(game.id)" ng-show="game.peerscore"> Details</button>
                    
                </span>
            </div>
        </div>	
	</div>
</div>

<div class="pure-u-1 game_mobile hideDesktop" ng-class="convertAverageLibraryClass(game.avgscore, game.rating, {{myLibrary}})">
    
<div class="pure-u-1 game_name mobile">
       <span  ng-click='showGameDescription(game.giantBomb_id,game.game_name, game.game_picture)'><a class="button  button-icon icon ion-ios-information-outline infobutton"></a></span>
    <span class="addingGameMargin"> {{game.game_name}}</span>
       
</div>

<div class="pure-u-1-4">
    <div class="game_image mobile" ng-style="getGameStyle(game.game_picture)"> 
</div>
    </div>
    <div class="pure-u-3-5 game_recomendation_text mobile">
        <div class="pure-u-1">
             <span ng-show="myLibrary"><span ng-show="localLibrary">My thoughts:</span><span ng-hide="localLibrary">Their thoughts:</span>
                   <span >{{convertMyRating(game.rating)}}
                     </span><br/>  
                     <button class="button button-small button-assertive" ng-click ="showEdit(game)" ng-show="localLibrary"> Edit</button>
                     <button class="button button-small button-assertive" ng-click ="getGameDetails(game)" ng-hide="localLibrary"> Details</button>
                </span>
        </div>
        <div class="pure-u-1" ng-hide="myLibrary">
             <span  >Pros say: <span ng-show="game.guruscore"> {{convertRating(game.guruscore)}} </span> <span ng-hide="game.guruscore">TBD  </span>  <button class="button button-small button-calm" ng-click="getGuruDetails(game.id)" ng-show="game.guruscore"> Details</button>
                </span>
        </div>
        
                <div class="pure-u-1" ng-hide="myLibrary">
                Peers say:<span ng-show="game.peerscore"> {{convertRating(game.peerscore)}}  </span><span ng-hide="game.peerscore ">TBD </span>  <button class="button button-small button-calm" ng-click="getPeerDetails(game.id)" ng-show="game.peerscore"> Details</button>
                    
        </div>
    </div>
</div>