<div class="pure-g-r addedMargin" ng-hide =" isLoading">
    <div class="pure-menu pure-menu-horizontal" ng-show="platforms">
        <ul class="pure-menu-list  lightblue"> 
            <li class="pure-menu-item" ng-repeat="platform in platforms">
                <a href="#/guru?platform={{platform.display_name}}" class="pure-menu-link white-link">{{platform.display_name}}
                </a>
            </li>
        </ul>
    </div>
    <div class="pure-u-1">
        <form class="pure-form">
        <div class="pure-u-17-24">
        <span> 
            <button class="button button-stable " ng-click="setPage(currentPage-1)"><<</button>
        </span>
        <span ng-repeat="page in pages">
            <button ng-show="page.elispe" class="button button-stable"  > ... </button>
            <button ng-hide="page.elispe" class="button  " ng-class="onCurrentPage(page.number)" ng-click="setPage(page.number) ">{{page.number+1}}</button>
        </span>
        <span > 
               <button class="button button-stable"  ng-click="setPage(currentPage+1)">>></button>
        </span>
    </div>
    <div class="pure-u-1-8">
      
                <select id="sort" ng-model="sort" ng-init="sort='-releasedate'">
                    <option value="-releasedate" selected>Release Date </option>
                    <option value ="+game_name">Name </option>
                    <option value = "-{{scoreName}}">Recomendation </option>
                </select>
            </div>
            </form>
    </div>
     <span ng-show="myLibrary">
    <div class=""  >
        <div class="click panel circle ">
	<div class="front" >
		      <div class="circleLogo"  ng-click ="addNewGame()"> 
          <div class="gameadderbutton"> +</div>
      </div>
        <p/>
        Click to add a new 
	</div>
	<div class="back ">
    
		
	</div>
</div>
 
      </div>
        
    </span>
   
    <div  ng-repeat="game in games | orderBy:sort | limitTo : itemsPerPage : newOffset " ng-init="newOffset=0">
        <librarycard></librarycard>

    </div>

</div>
<div class="pure-g-r addedMargin" ng-show ="isLoading && !NoLibraryError">
    <searching text="Loading"> </searching>

</div>

<div class="pure-g-r addedMargin" ng-show ="NoLibraryError">
   <h2> No Library Found</h2>
</div>
    