<div class="click panel circle flip hideMobile " >
	<div class="front" >
		<div class="circleLogo"> <h2>Review<p/> Kai</h2></div>
        <p/> click to reveal
	</div>
	<div class="back" ng-class="convertAverageLibraryClass(game.avgscore, game.rating, {{myLibrary}})" >

        <div class="game_image" ng-style="getGameStyle(game.game_picture)"> 
           
        </div>
         <div class="game_header" >
          <div class=" game_name" >

              <div flex> {{game.game_name}} </div>
              <md-button class="md-fab infoIcon" ng-click='showGameDescription(game.giantBomb_id,game.game_name, game.game_picture)'>
                   <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                 </md-button>
             </div>
        </div>
        <div class="game_recomendation">
            <div class="game_recomendation_text"> 
                
                 <span ng-show="myLibrary">
                   <md-list class="md-2-line">
                    <p>My review: </p>

                       <p> {{convertMyRating(game.rating)}}</p>
                     </md-list>


                                <md-button ng-click ="showEdit(game)" ng-show="localLibrary"> Edit</md-button>
                                <md-button  ng-click ="showRemove(game)" ng-show="localLibrary"> Remove</md-button>
                                <md-button ng-click ="getGameDetails(game)" ng-hide="localLibrary"> Details</md-button>

                </span>
                

               <md-button ng-click="getGuruDetails(game.id)" class="probuttons" ng-show="game.guruscore && !myLibrary">
                   Pros say:{{convertRating(game.guruscore)}}  <span ng-hide="game.guruscore">TBD  </span>   </md-button>
            <p/>
           <md-button  ng-click="getPeerDetails(game.id)" class="probuttons"  ng-show="game.peerscore && !myLibrary">
               Peers say:{{convertRating(game.peerscore)}} <span ng-hide="game.peerscore ">TBD </span>
                </md-button>
                    

            </div>
        </div>	
	</div>
</div>

<div class="game_mobile hideDesktop" ng-class="convertAverageLibraryClass(game.avgscore, game.rating, {{myLibrary}})">
    
<div layout="row"  >


    <div flex="40" class="game_image mobile" ng-style="getGameStyle(game.game_picture)">

    </div>
    <div class="game_recomendation_text mobile">
        <div layout="column">
        <div>
            <md-button  class="game_name mobile">
                <md-icon md-svg-src="images/ic_info_outline_white_24px.svg"></md-icon>
                {{game.game_name}}
            </md-button>
            </div>
        <div >
            <span ng-show="myLibrary">
                <span ng-show="localLibrary">My Review:</span><span ng-hide="localLibrary">Their thoughts:</span>
                <span>{{convertMyRating(game.rating)}}</span><br/>
                 <md-button ng-click ="showEdit(game)" ng-show="localLibrary"> Edit</md-button>
                 <md-button  ng-click ="showRemove(game)" ng-show="localLibrary"> Remove</md-button>
                 <md-button  ng-click ="getGameDetails(game)" ng-hide="localLibrary"> Details</md-button>
            </span>
            </div>

        <div  ng-hide="myLibrary">
             <span>Pros say: <span ng-show="game.guruscore"> {{convertRating(game.guruscore)}} </span> <span ng-hide="game.guruscore">TBD  </span>  <button class="button button-small button-calm" ng-click="getGuruDetails(game.id)" ng-show="game.guruscore"> Details</button>
                </span>
        </div>
        
                <div   ng-hide="myLibrary">
                Peers say:<span ng-show="game.peerscore"> {{convertRating(game.peerscore)}}  </span><span ng-hide="game.peerscore ">TBD </span>  <button class="button button-small button-calm" ng-click="getPeerDetails(game.id)" ng-show="game.peerscore"> Details</button>
                    
        </div>
        </div>
    </div></div>
</div>
