<div class="splash-container-dashboard " >
    <div class="splash-dashboard">
        <h1 class="splash-head ">Policy and Terms </h1>
        <p>
        <div class="click panel circle" ng-class='contact' >
            <div class="front" ng-click ='contact="flip"'>
                <div class="circleLogo"> Terms</div>
            </div>
            <div class="back postive"> 
                 <div class="game_recomendation tall">
                  <div class="contact_text">
                      By using Review Kai your promise to help others in their quest to find the perfect game. This inculdes but is not limited to writing good reviews of games and sharing infomation about Review Kai with others. Bewarned some review may contain humor that is in poor or questionable taste.
                </div>
                </div>
            </div>
        </div>
        <div class="click panel circle" ng-class='contact2' >
            <div class="front" ng-click ='contact2="flip"'>
                <div class="circleLogo"> 
                    Privacy Policy
                </div>
            </div>
            <div class="back postive"> 
                 <div class="game_recomendation tall">
                    <div class="contact_text">
                        Review Kai uses google anaytics to track who visits the site. We also use local storage to store session keys you make block the storage of session keys by disabling local storage on your browser. We do not sell nor trade any user infomation with anyone. If you have logged in with Facebook. Facebook may track you activity on the site.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
