<div class="pure-g-r addedMargin" >
        <p/>
    <h2> Terms</h2>
    <br/>
    By using Review Kai your promise to help others in their quest to find the perfect game. This inculdes but is not limited to writing good reviews of games and sharing infomation about Review Kai with others. Bewarned some review may contain humor that is in poor or questionable taste.
    <p/>
    <h2> Privacy Policy</h2><br/>
    Review Kai uses google anaytics to track who visits the site. We also use local storage to store session keys you make block the storage of session keys by disabling local storage on your browser. We do not sell nor trade any user infomation with anyone. If you have logged in with Facebook. Facebook may track you activity on the site.

    
</div>