<div class="pure-g-r addedMargin" ng-hide =" isLoading">
    <div class="pure-u-1">
        <form class="pure-form">
        <div class="pure-u-17-24">
        <span > 
                 <button class="button button-stable " ng-click="setPage(currentPage-1)"><<</button>
        </span>
        <span ng-repeat="page in pages">
            <button ng-show="page.elispe" class="button button-stable" > ... </button>
            <button ng-hide="page.elispe" class="button  " ng-class="onCurrentPage(page.number)" ng-click="setPage(page.number) ">{{page.number+1}}</button>
        </span>
        <span > 
               <button class="button button-stable"  ng-click="setPage(currentPage+1)">>></button>
        </span>
    </div>
    <div class="pure-u-1-8">
                <select id="sort" ng-model="sort" ng-init ="sort='-original_release_date'">
                    <option value="-original_release_date" selected>Release Date </option>
                    <option value ="+game_name">Name </option>
                    <option value = "-details.avgscore">Recomendation</option>
                </select>
            </div>
            </form>
    </div>


<div class="list" ng-init="newOffset=0">

    
    <div ng-repeat="game in games | orderBy:sort | limitTo : itemsPerPage : newOffset"> 
        <searchcard></searchcard>
    </div>
</div>


</div>

<div class="pure-g-r addedMargin" ng-show =" isLoading">
<searching> </searching>

</div>