

<div class="click panel circle flip hideMobile">
	<div class="front" >
		<div class="circleLogo"> <img src="images/logo.png"></div>
        <p/> click to reveal
	</div>
	<div class="back" ng-class="convertAverageClass(game.details.avgscore)" > 
        <div class="game_header">
           <div class="pure-u-19-24  game_name">{{game.name}}</div>  
            <div class="pure-u-1-8" ng-click='showGameDescription(game.id, game.name,game.image.medium_url )'><a class="button  button-icon icon ion-ios-information-outline infobutton"></a></div>  
        </div>
        <div class="game_image" ng-style="getGameStyle(game.image.medium_url)"> 
           
        </div>
        
        <div class="game_recomendation">
            <div class="game_recomendation_text">            
                Pros say: <span ng-show="game.details.guruscore" ng-style="colorForScore(game.details.guruscore)"> {{convertRating(game.details.guruscore)}} </span> <span ng-hide="game.details.guruscore">TBD  </span>  <button class="button button-small button-calm" ng-click="getGuruDetails(game.details.id)" ng-show="game.details.guruscore"> Details</button>
            <p/>
            Peers say:<span ng-show="game.details.peerscore" ng-style="colorForScore(game.details.peerscore)"> {{convertRating(game.details.peerscore)}}  </span><span ng-hide="game.details.peerscore ">TBD </span>  <button class="button button-small button-calm" ng-click="getPeerDetails(game.details.id)" ng-show="game.details.peerscore"> Details</button>
    
        </div>
        </div>
		
	</div>
</div>

<div class="pure-u-1 game_mobile hideDesktop" ng-class="convertAverageClass(game.details.avgscore)">
    
<div class="pure-u-1 game_name mobile">
      <span class="pure-u-1-8" ng-click='showGameDescription(game.id, game.name,game.image.medium_url )'><a class="button  button-icon icon ion-ios-information-outline infobutton"></a></span> 
     <span class="addingGameMargin">   {{game.name}} </span>
</div>
   
<div class="pure-u-1-4">
    <div class="game_image mobile" ng-style="getGameStyle(game.image.medium_url)"> 
</div>
    </div>
    <div class="pure-u-3-5 game_recomendation_text mobile">
        <div class="pure-u-1" ng-hide="myLibrary">
             <span  >Pros say: <span ng-show="game.guruscore"> {{convertRating(game.details.guruscore)}} </span> <span ng-hide="game.guruscore">TBD  </span>  <button class="button button-small button-calm" ng-click="getGuruDetails(game.id)" ng-show="game.guruscore"> Details</button>
                </span>
        </div>
        
                <div class="pure-u-1" ng-hide="myLibrary">
                Peers say:<span ng-show="game.peerscore"> {{convertRating(game.details.peerscore)}}  </span><span ng-hide="game.peerscore ">TBD </span>  <button class="button button-small button-calm" ng-click="getPeerDetails(game.id)" ng-show="game.peerscore"> Details</button>
                    
        </div>
    </div>
</div>