<div class="pure-g-r addedMargin" ng-hide =" isLoading">
    <div class="pure-u-1">
        <form class="pure-form">
    <input  class="pure-input-2-3" ng-model="searchText" placeholder="Filter games">   
    <div class="pure-u-1-8">
                <select id="sort" ng-model="sort">
                    <option value="-added">Most Recent </option>
                    <option value ="+game_name">Name </option>
                    <option value = "-guruscore">Guru Score </option>
                    <option value = "-peerscore">Peer Score </option>
                </select>
            </div>
            </form>
    </div>
</div>

<div class="list">
      <div class="item item-divider">
    Results
  </div>
    <div class="item item-text-wrap" ng-repeat="game in searchResults | filter:searchText | orderBy:sort" style="white-space:normal; overflow:normal; text-overflow:normal;"> 
    <div class="pure-g">
         <div class="pure-u-1-4"  >
            <searchcard></searchcard>
         </div>
         <div class="card pure-u-5-8">
             <div class="gameDes "ng-bind-html="game.description"></div>
        </div>
       
        </div>
    </div>
</div>

<div class="bar bar-subheader" ng-show =" isLoading">
   Loading ....
</div>
