<div class="pure-g-r addedMargin" ng-hide =" isLoading">
    <div class="pure-u-1">
        <form class="pure-form">
    <input  class="pure-input-2-3" ng-model="searchText" placeholder="Filter games">   
    <div class="pure-u-1-8">
                <select id="sort" ng-model="sort">
                    <option value="-added">Most Recent </option>
                    <option value ="+game_name">Name </option>
                    <option value = "-guruscore">Guru Score </option>
                    <option value = "-peerscore">Peer Score </option>
                </select>
            </div>
            </form>
    </div>
</div>

<div class="list">
      <div class="item item-divider">
    Results
  </div>
    <div class="item item-text-wrap" ng-repeat="result in searchResults | filter:searchText | orderBy:sort" style="white-space:normal; overflow:normal; text-overflow:normal;"> 
    <div class="pure-g">
         <div class="card pure-u-1-8"  >
            <img src="{{result.image.medium_url}}" height="250px">
         </div>
         <div class="card pure-u-3-4">
                <div class="pure-g-r pure-u-1">
                <div class="pure-u-3-8">
                 Guru's Rating:    <span ng-show="result.details.guruscore">{{result.details.guruscore}}/5</span> 
                <span ng-hide="result.details.guruscore">TBD</span> 
                </div>

                <div class="pure-u-3-8">
                Peer's Rating: <span ng-show="result.details.peerscore">{{result.details.peerscore}}/5</span>
                    <span ng-hide="result.details.peerscore">TBD</span>
                </div>
            </div>
             <div ng-bind-html="result.description"></div>
        </div>
       
        </div>
    </div>
</div>

<div class="bar bar-subheader" ng-show =" isLoading">
   Loading ....
</div>
