<md-dialog>
    <md-toolbar>
        <div class="md-toolbar-tools">
       <h1 class="title"> Import Games from Steam </h1>
        <span flex></span>
        <md-button ng-click="closeImportModal()" ng-show="importMode">x</md-button>
        </div>
    </md-toolbar>
     <md-dialog-content>
        <div ng-show="importMode">

        <div class="list">
            Vanity Name ( this is your steam name from your steam page)
            <label class="item item-input" >
                <input type="text" ng-model='vanity.name'>
            </label>
        </div>
        <div class="button-bar">
            <a class="button button-modal button-outline" ng-click="getGamesFromSteam()">Import </a> 
        </div>
        </div>
<div ng-show="isTransfering && !importMode">
    <p/>
    <h2 class="adding10left">Transfering Games...</h2>
    <p/>
    <steamtransfer></steamtransfer>
</div>

<div ng-hide="isTransfering || importMode ||vanityErrorMessage">
    <p/>
 <div class="pure-u-1 adding10left"  ><h2>Transfer complete</h2> </div>
  <div class="pure-u-6-24">
      <img  src="images/steamcardSmall.png" class="adding10left"><br/>
      <img  src="images/rkcardSmall.png"  class="adding10left"><br/>
    </div>
<div class="pure-u-14-24">
    Whats Next:
<br/>

    1) Check to make sure that all you games transfered correctly. Sometimes games with similar names get a bit mixed up
    <br/>
    2) Rate as many transfered games as you want.
    <button class=" button button-modal" ng-click="closeImportModal()"> Understood</button>
    </div>

</div>
        <span class="errorMessage" ng-show="vanityErrorMessage"><p/>  {{vanityErrorMessage}} </span>
    </md-dialog-content>
</md-dialog>
